<h2 mat-dialog-title>{{title}}</h2>
<mat-dialog-content>
    <div class="content-dialog content-dialog--minHeight">
        <form class="form-horizontal" novalidate [formGroup]="dataItemGroup" autocomplete="off">
            <div fxLayout="row wrap" *ngIf="localItem?.status != 'auto' || localItem?.type == 'saint'">
                <div fxFlex.gt-xs="50" fxFlex="100" [ngStyle.gt-xs]="{'padding-right': '24px'}">
                    <mat-form-field appearance="outline" class="full-width">
                        <mat-label>Tên Sự Kiện</mat-label>
                        <input matInput required formControlName="name" autocomplete="off">
                    </mat-form-field>
                </div>
                <div fxFlex.gt-xs="50" fxFlex="100">
                    <mat-form-field *ngIf="localItem?.status != 'auto'" appearance="outline" class="full-width">
                        <mat-label>Loại</mat-label>
                        <mat-select formControlName="type" required>
                            <mat-option *ngFor="let item of typeEvents" [value]="item.type">{{item.name}}</mat-option>
                        </mat-select>
                    </mat-form-field>
                    <mat-form-field *ngIf="localItem?.type == 'saint'" appearance="outline" class="full-width">
                        <mat-label>Thánh Bổn Mạng</mat-label>
                        <input matInput required formControlName="description" autocomplete="off">
                    </mat-form-field>
                </div>
            </div>
            <mat-form-field *ngIf="localItem?.status == 'auto' && localItem?.type != 'saint'" appearance="outline" class="full-width">
                <mat-label>Tên Sự Kiện</mat-label>
                <input matInput required formControlName="name" autocomplete="off">
            </mat-form-field>
            <div fxLayout="row wrap">
                <div fxFlex.gt-xs="50" fxFlex="100">
                    <mat-form-field appearance="outline" class="full-width" [ngStyle.gt-xs]="{'padding-right': '24px'}">
                        <mat-label>Ngày Cụ Thể</mat-label>
                        <input matInput [matDatepicker]="date" placeholder="DD/MM/YYYY" autocomplete="off"
                            formControlName="date">
                        <mat-datepicker-toggle matSuffix [for]="date">
                        </mat-datepicker-toggle>
                        <mat-datepicker #date></mat-datepicker>
                        <mat-error *ngIf="dataItemGroup.get('date').hasError('matDatepickerParse')">
                            Nhập Ngày Theo Mẫu DD/MM/YYYY(05/12/1991)</mat-error>
                    </mat-form-field>
                </div>
                <div fxFlex.gt-xs="50" fxFlex="100">
                    <mat-form-field appearance="outline" class="full-width">
                        <mat-label>Ngày Kỷ Niệm Hàng Năm</mat-label>
                        <input matInput placeholder="DD/MM" mask="d0/M0" [dropSpecialCharacters]="false"
                            autocomplete="off" formControlName="day">
                    </mat-form-field>
                </div>
               
            </div>
            <mat-form-field *ngIf="entityType == 'clergy' && dataItemGroup?.value?.type != 'saint'" appearance="outline" class="full-width">
                <mat-label>Vị Trí</mat-label>
                <se-autocomplete-simple [required]="false" [formControlName]="'locationName'"
                    (onChangeValue)="onChangeValue($event,'locationName')" [mode]="'emit-change'"
                    (onSelectItem)="valueChangeSelect($event,'locationName')" [optgroup]="false"
                    [placeHolder]="'Nhập tên...'" [keyTitle]="'name'" [keyValue]="'id'" [keyValueEmit]="'name'"
                    [autocomplete]="true" [items]="arrLocations">
                </se-autocomplete-simple>
            </mat-form-field>
            <mat-form-field appearance="outline" class="full-width">
                <mat-label>Ghi Chú</mat-label>
                <textarea matInput rows="3" formControlName="content"></textarea>
            </mat-form-field>
        </form>
    </div>
    <div class="btn-dialog-actions" fxLayout="row" fxLayoutAlign="start center">
        <span fxFlex></span>
        <a mat-button (click)="closeDialog()" color="default">Hủy</a>
        <div class="btn-save-process">
            <button mat-flat-button color="primary" [disabled]="dataProcessing" aria-label="Save"
                (click)="onSaveItem()">Lưu</button>
            <mat-spinner [diameter]="24" *ngIf="dataProcessing"></mat-spinner>
        </div>
    </div>
</mat-dialog-content>