<div class="clergy-view">
    <div class="clergy-view-container" fxLayout="row wrap">
        <div class="clergy-view-container-l" fxLayout="column" fxLayoutAlign="center center" fxFlex.gt-md="30"
            fxFlex="100" [ngStyle.gt-xs]="{'padding-right': '24px'}">
            <div class="avatar-img">
                <img [src]="localItem?.pictureUrl" />
            </div>
            <div class="content mrt-24" fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="6">
                <span class="display-name">{{localItem?.displayName}}</span>
                <span class="name">{{localItem?.name}}</span>
                <div *ngIf="arrAppointments?.length > 0" class="content" fxLayout="column"
                    fxLayoutAlign="center center">
                    <span>Hiện đang làm <strong>{{arrAppointments[0]?.positionView}}</strong> tại
                        <strong>{{arrAppointments[0]?.entityName}}</strong></span>
                </div>
                <div *ngIf="arrAppointments?.length > 1" class="full-width" fxLayout="column"
                    fxLayoutAlign="start start">
                    <span>CÁC CHỨC VỤ KHÁC</span>
                    <ng-template ngFor let-data let-i="index" [ngForOf]="arrAppointments">
                        <span *ngIf="i!=0"><strong>{{data?.positionView}}</strong> tại
                            <strong>{{data?.entityName}}</strong></span>
                    </ng-template>
                </div>
                <div class="anniversaries-container mrt-24" fxLayout="column" fxLayoutAlign="center center">
                    <span class="title">BÍ TÍCH</span>
                    <div class="full-width" fxLayout="column" fxLayoutAlign="start start">
                        <ng-template ngFor let-data let-last="last" [ngForOf]="arrAnniversaries">
                            <div [ngClass]="{'mrb-12': !last}" class="full-width" fxLayout="column"
                                fxLayoutAlign="start start">
                                <span
                                    style="font-size: 20px;font-weight: 500;color: rgb(0, 170, 170);"><strong>{{data?.name}}</strong></span>
                                <span>ngày <strong>{{data?.dateView}}</strong></span>
                                <span>tại <strong>{{data?.locationName}}</strong></span>
                                <span>{{data?.descriptionView}}</span>
                                <mat-divider class="full-width"></mat-divider>
                            </div>
                        </ng-template>
                    </div>
                </div>
                <div class="mrt-24 full-width" fxLayout="row" fxLayoutAlign="end center" fxLayoutGap="24">
                    <button mat-raised-button color="primary" (click)="onDownload()">Download CV</button>
                    <button mat-raised-button color="primary">Download Celebret</button>
                </div>
            </div>
        </div>
        <div class="clergy-view-container-r" fxFlex.gt-md="70" fxFlex="100">
            <h4 class="text-info-title">Thông tin cá nhân</h4>
            <div class="info-personal" fxLayout="column" fxLayoutGap="12">
                <div class="info-personal-container" fxLayout="row wrap">
                    <span fxFlex.gt-md="50" fxFlex="100">
                        Ngày sinh: <label>{{localItem?.dateOfBirthView}}</label>
                    </span>
                    <span>
                        tại: <label>{{localItem?.placeOfBirth}}</label>
                    </span>
                </div>
                <div class="info-personal-container" fxLayout="row wrap">
                    <span fxFlex.gt-md="50" fxFlex="100">
                        Giáo xứ: <label>{{localItem?.orgName}}</label>
                    </span>
                    <span>
                        Giáo phận: <label>Giáo Phận Phú Cường</label>
                    </span>
                </div>
                <div class="info-personal-container" fxLayout="row wrap">
                    <span fxFlex.gt-md="50" fxFlex="100">
                        Tên cha: <label>{{localItem?.fatherName}}</label>
                    </span>
                    <span>
                        Tên mẹ: <label>{{localItem?.motherName}}</label>
                    </span>
                </div>
                <div class="info-personal-container" fxLayout="row wrap">
                    <span fxFlex.gt-md="25" fxFlex="100">
                        {{localItem?.identityCardTypeView}}: <label>{{localItem?.identityCardNumber}}</label>
                    </span>
                    <span fxFlex.gt-md="25" fxFlex="100">
                        Ngày cấp: <label>{{localItem?.identityCardIssueDateView}}</label>
                    </span>
                    <span>
                        Nơi cấp: <label>{{localItem?.identityCardIssuePlace}}</label>
                    </span>
                </div>
            </div>
            <div fxLayoutAlign="center center">
                <h4 *ngIf="localItem?.parable?.length > 0" class="tit-maxim" fxLayout="row"  fxLayoutAlign="center center">
                    <!-- <mat-icon svgIcon="icon_quote"></mat-icon> -->
                    <span>{{localItem?.parable}}</span>
                </h4>
            </div>
            <div fxLayoutAlign="start center" class="full-width">
              <se-list-appointments-clergy [clergyID]="ID"></se-list-appointments-clergy>
            </div>
            <div fxLayoutAlign="start center" class="full-width mrt-32">
              <app-itinerary-files class="full-width" [mode]="'folder'" [title]="'All Files'" [entityID]="ID" [entityType]="'clergy'"></app-itinerary-files>
            </div>
        </div>
    </div>