<div class="clergy-view">
    <div class="clergy-view-container" fxLayout="row wrap">
        <div class="clergy-view-container-l" fxLayout="row" fxLayoutAlign="center center" fxFlex.gt-xs="30" fxFlex="100"
            [ngStyle.gt-xs]="{'padding-right': '24px'}">
            <div class="avatar-img">
                <img [src]="localItem?.pictureUrl" />
            </div>
            <div class="content" fxLayout="column" fxLayoutAlign="center center">
                <p>
                    Gioan Baotixita
                </p>
                <p >
                    Nguyễn Văn Riễn
                </p>
                <p>Chánh Xứ, giáo xứ Thánh Giuse, giáo hạt Phú Cường</p>
            </div>
        </div>
        <div fxFlex.gt-xs="70" fxFlex="100">

        </div>
    </div>
</div>