<div class="post-contact" fxLayout="row" fxLayoutAlign="space-between center">
    <div class="author" fxLayout="row" fxLayoutAlign="space-between center">
        <span class="mrr-12">Đăng bởi: </span>
        <img [src]="contact?.pictureUrl ? contact?.pictureUrl : pictureUrl" alt="Avatar">
        <span class="name mrl-6"><strong>{{contact?.name}}</strong></span>
    </div>
    <div class="date-time" fxLayout="row" fxLayoutAlign="space-between center">
        <mat-icon class="mrb-6" svgIcon="ic_schedule_48dp"></mat-icon>
        <span>{{contact?.time}}</span>
    </div>
    <span fxFlex></span>
</div>