<section class="control-top-header">
    <div class="container-xl">
        <div class="row">
            <div class="col-3">
                <div class="title">
                    <span>{{timeTitle}}</span>
                </div>
            </div>
            <div class="col-6">
                <div class="post-new">
                    <span>Truyền thông và lòng thương xót” Một cuộc gặp gỡ đem lại hoa trái</span>
                </div>
            </div>
            <div class="col-3">
                <div class="social">
                    <div class="row">
                        <div class="col"><mat-icon class="icon-contact" svgIcon="ic_facebook"></mat-icon></div>
                        <div class="col"><mat-icon class="icon-contact" svgIcon="ic_twitter"></mat-icon></div>
                        <div class="col"><mat-icon class="icon-contact" svgIcon="ic_linkedin"></mat-icon></div>
                        <div class="col"><mat-icon class="icon-contact" svgIcon="ic_google_plus"></mat-icon></div>
                        <div class="col"><mat-icon class="icon-contact" svgIcon="ic_youtube"></mat-icon></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>