input {
    width: 30px;
    margin: 16px;
    height: 30px;
    border-radius: 50%;
    cursor: pointer;
}

.color-box {
    margin: 16px auto;

    cursor: pointer;
}

.change-me {
    cursor: pointer;
    font-size: 30px;
    font-weight: bolder;
}
