<div class="post-content mrb-24">
    <header>
        <h1 class="post-title">{{localItem?.title}}</h1>
    </header>
    <se-post-contact [contact]="{name: 'Admin', time: localItem?.createdView  }"></se-post-contact>
    <div class="description mrt-24 mrb-24">
        <p>
            {{localItem?.metaDescription}}
        </p>
        <mat-divider></mat-divider>
    </div>
    <div class="photo-post mrb-12" fxLayout="row" fxLayoutAlign="center center">
        <img [src]="localItem?.pictureUrl" alt="Avatar">
    </div>
    <div class="content">
        <p [innerHTML]="localItem?.content">
            {{localItem?.metaDescription}}
        </p>
    </div>
    <se-post-author [authorID]="localItem?.authorId"></se-post-author>
    <app-posts-related [type]="type" [entityData]="localItem?.eventDate"></app-posts-related>
    <!-- <jodit-editor [config]="{toolbar: false}" [defaultValue]="content"></jodit-editor> -->
</div>