<mat-nav-list>
    <mat-list-item *ngFor="let data of arrData; trackBy: trackByFn;" (click)="onChangeData(data)">
        <h4 mat-line><strong>{{data?.name}}</strong></h4>
        <p mat-line>Chức vụ: {{data?.positionView}}</p>
        <span fxFlex></span>
        <button (click)="$event.stopPropagation();" mat-icon-button [matMenuTriggerFor]="actionsMenu"
            matTooltip="Thao Tác Khác">
            <mat-icon class="material-icons" svgIcon="ic_more_vert_48px"></mat-icon>
        </button>
        <mat-menu #actionsMenu="matMenu" [overlapTrigger]="false" xPosition="after">
            <button mat-menu-item (click)="onChangeData(data)">
                <mat-icon class="material-icons" svgIcon="ic_create_48px"></mat-icon> Sửa
            </button>
            <button *ngIf="data.status !== 'inactive'" mat-menu-item matTooltip="Tạm Ẩn"
                (click)="$event.stopPropagation();onUpdateStatus(data,'inactive')">
                <mat-icon class="material-icons" svgIcon="ic_toggle_off"></mat-icon>Tạm Ẩn
            </button>
            <button *ngIf="data.status == 'inactive'" mat-menu-item
                (click)="$event.stopPropagation();onUpdateStatus(data,'active')" matTooltip="Mở Lại">
                <mat-icon class="material-icons" svgIcon="ic_toggle_on"></mat-icon>Mở Lại
            </button>
            <button mat-menu-item (click)="$event.stopPropagation();deleteItem(data)">
                <mat-icon svgIcon="ic_delete_48px"></mat-icon>Xóa
            </button>
        </mat-menu>
    </mat-list-item>
</mat-nav-list>
<mat-divider class="full-width"></mat-divider>
<div fxLayout="row" fxLayoutAlign="center center" class="mrt-12">
    <span fxFlex></span>
    <button (click)="onAddItem()" mat-button color="primary">Thêm Tu Sĩ</button>
</div>