<div class="organization-view" fxLayoutAlign="center start">
    <div class="organization-view-container" fxLayout="row" fxLayoutAlign="center start">
        <div class="organization-view-container-l" fxLayout="column" fxLayoutAlign="center center" fxFlex.gt-xs="35"
            fxFlex="100" [ngStyle.gt-xs]="{'padding-right': '24px'}">
            <div class="avatar-img">
                <img [src]="localItem?.pictureUrl" />
            </div>
            <span class="display-name">{{localItem?.displayName}}</span>
            <div class="content mrt-24" fxLayout="column" fxLayoutAlign="center start" fxLayoutGap="6">
                <!-- <span class="name">{{localItem?.name}}</span> -->
                <div class="full-width" fxLayout="column" fxLayoutAlign="center start" fxLayoutGap="12">
                    <span *ngIf="entityType == 'giao_hat'">Khu vực: <strong>{{localItem?.area}}</strong></span>
                    <span>Địa chỉ: <strong>{{localItem?.address}}</strong></span>
                    <span *ngIf="entityType != 'giao_hat'">Thuộc: <strong>{{localItem?.entityName}}</strong></span>
                    <span>Email: <strong>{{localItem?.email}}</strong></span>
                    <ng-template [ngIf]="entityType == 'giao_hat'">
                        <span>Linh mục quản hạt: <strong>{{localItem?.email}}</strong></span>
                        <span>Tổng số linh mục: <strong>{{localItem?.totalClergy}}</strong></span>
                        <ng-template ngFor let-org let-last="last" [ngForOf]="localItem?.organizationAnalytics">
                            <span>{{org.name}}: <strong>{{org?.count}}</strong></span>
                        </ng-template>
                        <span>Dân số: <strong>{{localItem?.totalPopulation | numberFormat: "."}}</strong></span>
                        <span>Tổng số giáo dân: <strong>{{localItem?.totalMemberCount | numberFormat: "."}}</strong></span>
                    </ng-template>
                </div>
                <div class="anniversaries-container mrt-24" fxLayout="column" fxLayoutAlign="start start">
                    <span class="title">SỰ KIÊN</span>
                    <ng-container *ngIf="arrAnniversaries?.length > 0">
                        <div class="full-width" fxLayout="column" fxLayoutAlign="start start">
                            <ng-template ngFor let-data let-last="last" [ngForOf]="arrAnniversaries">
                                <div [ngClass]="{'mrb-12': !last}" class="full-width" fxLayout="column"
                                    fxLayoutAlign="start start">
                                    <span
                                        style="font-size: 20px;font-weight: 500;color: rgb(0, 170, 170);"><strong>{{data?.name}}</strong></span>
                                    <span>ngày <strong>{{data?.dateView}}</strong></span>
                                    <!-- <span>tại <strong>{{data?.locationName}}</strong></span> -->
                                    <span>{{data?.descriptionView}}</span>
                                    <mat-divider class="full-width"></mat-divider>
                                </div>
                            </ng-template>
                        </div>
                    </ng-container>
                    <ng-container *ngIf="arrAnniversaries?.length == 0">
                        <span class="mrb-24">Chưa cập nhật</span>
                    </ng-container>
                </div>
                <div *ngIf="entityType == 'giao_hat'" class="appointments-container" fxLayout="column" fxLayoutAlign="start start">
                    <span class="title">DANH SÁCH LINH MỤC PHỤC VỤ ĐÃ PHỤC VỤ</span>
                    <se-list-appointments-organization [entityType]="'group'"
                        [entityID]="ID" [filter]="filterAppointments"></se-list-appointments-organization>
                </div>
                <div class="appointments-container mrt-24" fxLayout="column" fxLayoutAlign="start start" fxLayoutGap="12">
                    <h6 class="title">DANH SÁCH GIÁO XỨ, GIÁO HỌ VÀ GIÁO ĐIỂM</h6>
                    <ng-template ngFor let-org let-last="last" [ngForOf]="arrOrganizations">
                        <a [href]="org?.link" target="_blank"><strong>{{org?.name}}</strong></a>
                    </ng-template>
                </div>
            </div>
        </div>
        <div class="organization-view-container-r" fxFlex.gt-xs="75" fxFlex="100">
            <se-editor-control [formControl]="editorFormCtrl"
                [config]="{readonly: true,toolbar: false}"></se-editor-control>
            <!-- <jodit-editor [config]="configEditor" [formControl]="editorFormCtrl"></jodit-editor> -->
            
        </div>
    </div>
</div>