<h2 mat-dialog-title>{{title}} {{orgTypeName}}</h2>
<mat-dialog-content>
	<div class="content-dialog">
		<form class="form-horizontal" novalidate [formGroup]="dataItemGroup" autocomplete="off">

			<div fxLayout="row wrap">
				<div fxFlex.gt-xs="60" fxFlex="100" [ngStyle.gt-xs]="{'padding-right': '24px'}">
					<mat-form-field appearance="outline" class="full-width">
						<mat-label>Tên</mat-label>
						<input matInput required formControlName="name" autocomplete="off">
					</mat-form-field>
				</div>
				<div fxFlex.gt-xs="40" fxFlex="100">
					<mat-form-field appearance="outline">
						<mat-label>Tên Viết Tắt</mat-label>
						<input matInput formControlName="abbreviation" autocomplete="off">
					</mat-form-field>
				</div>
			</div>
			<!-- <div fxLayout="row wrap">
				<div fxFlex.gt-xs="50" fxFlex="100" [ngStyle.gt-xs]="{'padding-right': '24px'}">
					<mat-form-field appearance="outline" class="full-width">
						<mat-label>Phân Loại</mat-label>
						<se-autocomplete-simple [required]="false" [formControlName]="'type'" 
							[optgroup]="false" [placeHolder]="'Nhập Loại'" [keyTitle]="'name'"
							[keyValue]="'code'" [keyValueEmit]="'code'" [autocomplete]="false" [items]="typeList">
						</se-autocomplete-simple>
					</mat-form-field>
				</div>
				<div fxFlex.gt-xs="50" fxFlex="100"> -->
			<mat-form-field *ngIf="type == 'giao_xu'" appearance="outline" class="full-width">
				<mat-label>Giáo Hạt</mat-label>
				<se-autocomplete-simple [required]="false" [formControlName]="'groupID'" [optgroup]="false"
					[placeHolder]="'Giáo Hạt'" [keyTitle]="'name'" [keyValue]="'id'" [keyValueEmit]="'id'"
					[autocomplete]="false" [items]="groupsList">
				</se-autocomplete-simple>
			</mat-form-field>
			<mat-form-field *ngIf="type != 'giao_xu'" appearance="outline" class="full-width">
				<mat-label>Thuộc</mat-label>
				<se-autocomplete-simple [required]="false" [formControlName]="'_entityID'" [optgroup]="true"
					[placeHolder]="'Nhập tên để tìm kiếm'" [keyTitle]="'name'" [keyValue]="'_id'" [keyValueEmit]="'_id'"
					[autocomplete]="true" [items]="entityList" (onSelectItem)="onSelectItem($event,'entityID')">
				</se-autocomplete-simple>
			</mat-form-field>
			<!-- </div>
			</div> -->
			<div fxLayout="row wrap">
				<div fxFlex.gt-xs="50" fxFlex="100" [ngStyle.gt-xs]="{'padding-right': '24px'}">
					<mat-form-field appearance="outline" class="full-width">
						<mat-label>Email</mat-label>
						<input matInput formControlName="email" autocomplete="off">
					</mat-form-field>
				</div>
				<div fxFlex.gt-xs="50" fxFlex="100">
					<mat-form-field appearance="outline" class="full-width">
						<mat-label>Số Điện Thoại</mat-label>
						<input matInput formControlName="phoneNumber" autocomplete="off">
					</mat-form-field>
				</div>
			</div>
			<mat-form-field appearance="outline" class="full-width">
				<mat-label>Địa Chỉ</mat-label>
				<input matInput formControlName="address" autocomplete="off">
			</mat-form-field>
			<mat-form-field appearance="outline" class="full-width">
				<mat-label>Mô Tả</mat-label>
				<textarea matInput rows="4" formControlName="description"></textarea>
			</mat-form-field>
			<se-editor-control formControlName="content"></se-editor-control>
			<!-- <div fxLayout="row wrap">
			<div fxFlex.gt-xs="50" fxFlex="100" [ngStyle.gt-xs]="{'padding-right': '24px'}"> -->

			<!-- </div>
			<div fxFlex.gt-xs="50" fxFlex="100">
				<mat-form-field appearance="outline" class="full-width">
					<mat-label>Trạng Thái</mat-label>
					<input matInput placeholder="DD/MM" mask="d0/M0" [dropSpecialCharacters]="false" autocomplete="off" formControlName="anniversarySaint">
				</mat-form-field>
			</div>
		</div> -->
			<!-- <mat-form-field appearance="outline" class="full-width">
			<mat-label>Ngày Lãnh Nhận Chức Thánh Hoặc Khấn</mat-label>
			<input matInput [matDatepicker]="anniversary" placeholder="DD/MM/YYYY"
				 autocomplete="off" formControlName="anniversary">
			<mat-datepicker-toggle matSuffix [for]="anniversary">
			</mat-datepicker-toggle>
			<mat-datepicker #anniversary></mat-datepicker>
			<mat-error *ngIf="dataItemGroup.get('anniversary').hasError('matDatepickerParse')">
				Nhập Ngày Theo Mẫu DD/MM/YYYY(05/12/1991)</mat-error>
		</mat-form-field> -->

			<!-- <h6 class="mrb-24"> SỰ KIỆN QUAN TRỌNG</h6>
			<div formArrayName="items" class="full-width">
				<ng-template ngFor let-data let-i="index" [ngForOf]="getControls(dataItemGroup, 'items')">
					<div [formGroupName]="i">
						<mat-form-field appearance="outline">
							<mat-label>Tên Sự Kiện</mat-label>
							<input matInput required formControlName="name" autocomplete="off">
						</mat-form-field>
						<div fxLayout="row wrap">
							<div fxFlex.gt-xs="50" fxFlex="100" [ngStyle.gt-xs]="{'padding-right': '24px'}">
								<mat-form-field appearance="outline" class="full-width">
									<mat-label>Ngày</mat-label>
									<input matInput placeholder="DD/MM" mask="d0/M0" [dropSpecialCharacters]="false"
										autocomplete="off" formControlName="day">
								</mat-form-field>
							</div>
							<div fxFlex.gt-xs="50" fxFlex="100">
								<mat-form-field appearance="outline" class="full-width">
									<mat-label>Ngày Tháng Năm</mat-label>
									<input matInput [matDatepicker]="date" placeholder="DD/MM/YYYY" autocomplete="off"
										formControlName="date">
									<mat-datepicker-toggle matSuffix [for]="date">
									</mat-datepicker-toggle>
									<mat-datepicker #date></mat-datepicker>
									<mat-error *ngIf="data.get('date').hasError('matDatepickerParse')">
										Nhập Ngày Theo Mẫu DD/MM/YYYY(05/12/1991)</mat-error>
								</mat-form-field>
							</div>
						</div>
						<mat-form-field appearance="outline" class="full-width">
							<mat-label>Mô Tả</mat-label>
							<textarea matInput rows="3" formControlName="description"></textarea>
						</mat-form-field>
					</div>
				</ng-template>
				<button (click)="onAddSegment()" mat-icon-button color="primary" class="mrb-24">
					<mat-icon svgIcon="ic_add_48px"></mat-icon>Thêm Sự Kiện
				</button>
			</div> -->

			<mat-slide-toggle color="primary" formControlName="status">Ấn / Hiện</mat-slide-toggle>
		</form>
		<div class="btn-dialog-actions" fxLayout="row" fxLayoutAlign="start center">
			<span fxFlex></span>
			<a mat-button (click)="closeDialog()" color="default">Hủy</a>
			<div class="btn-save-process">
				<button mat-flat-button [disabled]="dataProcessing || saveAction === 'delete' || target !== 'edit'"
					aria-label="Delete" (click)="deleteItem()" color="warn">Xóa</button>
				<mat-spinner [diameter]="24" *ngIf="saveAction === 'delete'"></mat-spinner>
			</div>
			<div class="btn-save-process">
				<button mat-flat-button color="primary"
					[disabled]="!hasChangedGroup || !dataItemGroup.valid || dataProcessing || saveAction === 'save'"
					aria-label="Save" (click)="onSaveItem()">{{textSave}}</button>
				<mat-spinner [diameter]="24" *ngIf="saveAction === 'save'"></mat-spinner>
			</div>
		</div>
	</div>
</mat-dialog-content>