<div class="post-info">
    <div class="sticky-toolbar">
        <mat-toolbar fxLayout="row" fxLayoutAlign="space-between center">
            <div fxLayout="row" fxLayoutAlign="center center">
                <button mat-icon-button (click)="routeToBack()">
                    <mat-icon svgIcon="ic_arrow_back_48dp"></mat-icon>
                </button>
                <span class="truncate">Trở về {{matTooltipBack}}</span>
            </div>
            <div *ngIf="statusLabel?.title !== ''">
                <span class="mat-elevation-z1" [ngClass]="statusLabel.class">{{statusLabel.title}}</span>
            </div>
            <div fxLayout="row" fxLayoutAlign="space-between center" fxLayoutGap="12px">
                <!-- <button (click)="openDialogImg()" mat-flat-button color="warn">Upload Hinh</button> -->
                <button (click)="routeToBack()" mat-flat-button color="warn">Hủy</button>
                <ng-template [ngIf]="localItem?.status == 'publish'">
                    <button (click)="onSave('publish')" mat-flat-button color="primary">Lưu</button>
                </ng-template>
                <ng-template [ngIf]="localItem?.status !== 'publish'">
                    <button (click)="onSave('draft')" mat-flat-button color="primary">Lưu Nháp</button>
                    <button (click)="onSave('publish')" mat-flat-button class="accept">
                        Xuất Bản <mat-icon style="margin-bottom: 15px;" svgIcon="ic_send_48dp"></mat-icon>
                    </button>
                </ng-template>
            </div>
        </mat-toolbar>
    </div>
    <mat-divider></mat-divider>
    <div class="post-container">
        <form [formGroup]="dataItemGroup">
            <div fxLayout="row" fxLayoutAlign="start start">
                <div fxFlex="70" class="mrr-24">
                    <div fxLayout="row wrap" class="full-width">
                        <div fxFlex.gt-xs="60" fxFlex="100" [ngStyle.gt-xs]="{'padding-right': '24px'}">
                            <mat-form-field appearance="outline" class="full-width">
                                <mat-label>Tên</mat-label>
                                <input matInput formControlName="name" required />
                                <mat-hint>{{dataItemGroup?.value?.link}}</mat-hint>
                            </mat-form-field>
                        </div>
                        <div fxFlex.gt-xs="20" fxFlex="100" [ngStyle.gt-xs]="{'padding-right': '24px'}">
                            <mat-form-field appearance="outline" class="full-width">
                                <mat-label>Tên Viết Tắt</mat-label>
                                <input matInput formControlName="abbreviation" autocomplete="off">
                            </mat-form-field>
                        </div>
                        <div fxFlex.gt-xs="20" fxFlex="100">
                            <mat-form-field appearance="outline" class="full-width">
                                <mat-label>Phân Loại</mat-label>
                                <se-autocomplete-simple [required]="false" [formControlName]="'type'" [optgroup]="false"
                                    [placeHolder]="'Nhập Loại'" [keyTitle]="'name'" [keyValue]="'code'"
                                    [keyValueEmit]="'code'" [autocomplete]="false" [items]="typeList">
                                </se-autocomplete-simple>
                            </mat-form-field>
                        </div>
                    </div>
                    <div fxLayout="row wrap" class="full-width">
                        <div fxFlex.gt-xs="70" fxFlex="100" [ngStyle.gt-xs]="{'padding-right': '24px'}">
                            <mat-form-field appearance="outline" class="full-width">
                                <mat-label>Địa Chỉ</mat-label>
                                <input matInput formControlName="address" autocomplete="off">
                            </mat-form-field>
                        </div>
                        <div *ngIf="target == 'giao_xu'" fxFlex.gt-xs="30" fxFlex="100">
                            <mat-form-field appearance="outline" class="full-width">
                                <mat-label>Giáo Hạt</mat-label>
                                <se-autocomplete-simple [required]="true" [formControlName]="'groupID'"
                                    [optgroup]="false" [placeHolder]="'Nhập tên Thánh...'" [keyTitle]="'name'"
                                    [keyValueEmit]="'id'" [keyValue]="'id'" [autocomplete]="true" [items]="groupsList">
                                </se-autocomplete-simple>
                            </mat-form-field>
                        </div>
                        <div *ngIf="target != 'giao_xu'" fxFlex.gt-xs="30" fxFlex="100">
                            <mat-form-field appearance="outline" class="full-width">
                                <mat-label>Thuộc</mat-label>
                                <se-autocomplete-simple [required]="false" [formControlName]="'_entityID'"
                                    [optgroup]="true" [placeHolder]="'Nhập tên để tìm kiếm'" [keyTitle]="'name'"
                                    [keyValue]="'_id'" [keyValueEmit]="'_id'" [autocomplete]="true" [items]="entityList"
                                    (onSelectItem)="onSelectItem($event,'entityID')">
                                </se-autocomplete-simple>
                            </mat-form-field>
                        </div>
                    </div>
                    <div fxLayout="row wrap" class="full-width">
                        <div fxFlex.gt-xs="50" fxFlex="100" [ngStyle.gt-xs]="{'padding-right': '24px'}">
                            <mat-form-field appearance="outline" class="full-width">
                                <mat-label>Latitude</mat-label>
                                <input matInput formControlName="latitude" autocomplete="off">
                            </mat-form-field>
                        </div>
                        <div fxFlex.gt-xs="50" fxFlex="100">
                            <mat-form-field appearance="outline" class="full-width">
                                <mat-label>Longitude</mat-label>
                                <input matInput formControlName="longitude" autocomplete="off">

                            </mat-form-field>
                        </div>
                    </div>

                    <mat-form-field appearance="outline" class="full-width">
                        <mat-label>Mô Tả</mat-label>
                        <textarea matInput rows="4" formControlName="description"></textarea>
                    </mat-form-field>
                    <se-editor-control formControlName="content"></se-editor-control>
                </div>
                <div fxFlex="30" class="mrl-24">
                    <se-upload-avatar (valueChanges)="valueChangesFile($event)"
                        [filePath]="localItem?.photo"></se-upload-avatar>
                    <mat-form-field appearance="outline" class="full-width">
                        <mat-label>Tước Hiệu</mat-label>
                        <se-autocomplete-simple [required]="true" [formControlName]="'anniversary'" [optgroup]="false"
                            [placeHolder]="'Nhập tên Thánh...'" [keyTitle]="'name'" [keyValue]="'id'"
                            [autocomplete]="true" [items]="saintList">
                        </se-autocomplete-simple>
                        <mat-hint>Nhập mới hoặc chọn trong danh sách</mat-hint>
                    </mat-form-field>
                    <mat-form-field appearance="outline" class="full-width">
                        <mat-label>Số Điện Thoại</mat-label>
                        <input matInput formControlName="phoneNumber" autocomplete="off">
                    </mat-form-field>
                    <mat-form-field appearance="outline" class="full-width">
                        <mat-label>Email</mat-label>
                        <input matInput formControlName="email" autocomplete="off">
                    </mat-form-field>
                    <mat-form-field appearance="outline" class="full-width">
                        <mat-label>Dân Số</mat-label>
                        <input matInput formControlName="population" autocomplete="off" se-number-only>
                    </mat-form-field>
                    <mat-form-field appearance="outline" class="full-width">
                        <mat-label>Số Tín Hữu</mat-label>
                        <input matInput formControlName="memberCount" autocomplete="off" se-number-only>
                    </mat-form-field>

                    <mat-accordion multi="true" class="full-width">
                        <mat-expansion-panel expanded>
                            <mat-expansion-panel-header>
                                <mat-panel-title>
                                    GIỜ LỄ
                                </mat-panel-title>
                            </mat-expansion-panel-header>
                            <app-masses-list [entityID]="ID" [entityType]="'organization'"></app-masses-list>
                            <!-- <ng-template ngFor let-data let-i="index" let-last="last" [ngForOf]="arrMasses">
                                <strong>{{data.time}}</strong> <span>{{data.time}}</span>
                                <mat-divider class="mrb-24" *ngIf="!last"></mat-divider>
                            </ng-template>
                            <mat-action-row>
                                <button (click)="openMasses('new',null)" mat-button color="primary">Thêm Giờ Lễ</button>
                            </mat-action-row> -->
                        </mat-expansion-panel>

                        <mat-expansion-panel expanded>
                            <mat-expansion-panel-header>
                                <mat-panel-title>
                                    SỰ KIỆN QUAN TRỌNG
                                </mat-panel-title>
                            </mat-expansion-panel-header>
                            <app-events-list [entityID]="ID" [entityType]="'organization'"
                                [entityName]="localItem?.name"></app-events-list>
                        </mat-expansion-panel>

                        <mat-expansion-panel expanded>
                            <mat-expansion-panel-header>
                                <mat-panel-title>
                                    DANH SÁCH LINH MỤC
                                </mat-panel-title>
                            </mat-expansion-panel-header>
                            <!-- <ng-template ngFor let-data let-i="index" let-last="last"
                                    [ngForOf]="getControls(dataItemGroup, 'items')"> -->
                            <app-appointments-list-control [entityID]="ID" [entityType]="'organization'"
                                [mode]="'organization'">
                            </app-appointments-list-control>
                            <!-- <mat-divider class="mrb-24" *ngIf="!last"></mat-divider> -->
                            <!-- </ng-template> -->
                        </mat-expansion-panel>
                    </mat-accordion>
                </div>
            </div>
        </form>
    </div>
</div>