/* width */
::-webkit-scrollbar {
    width: 5px;
    border-radius: 25px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #170f23;
    
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #5d5d5f;
    border-radius: 50px !important;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555;
  }