<div class="container-fluid guest-review-container">
    <div class="container-xl">
        <div class="guest-review-wrap">
            <owl-carousel-o [options]="customOptions">
                <ng-container *ngFor="let item of dataItems">
                    <ng-template carouselSlide [id]="item.id">
                        <figure class="item-review figure">
                            <div class="figure-header">
                                <h2>TỪ NGỮ KINH THÁNH</h2>
                                <h3>Lm. Phaolô Phạm Quốc Tuý</h3>
                            </div>
                            <figcaption class="figure-caption">
                                <mat-icon class="icon-quote" svgIcon="icon_quote"></mat-icon>
                                <p>{{item.metaDescription}}</p>
                                <h4>{{item.quotation}} - {{item.title}}</h4>
                                <h5>{{item.createdView}} - Admin</h5>
                            </figcaption>
                        </figure>
                    </ng-template>
                </ng-container>
            </owl-carousel-o>
        </div>
    </div>
</div>