<ng-container *ngIf="arrData?.length > 0; else noDataTemf">
    <mat-nav-list>
        <mat-list-item *ngFor="let data of arrData; trackBy: trackByFn;" (click)="onChangeData(data)">
            <h4 *ngIf="data?.type == 'saint'" mat-line>{{data?.name}}: <strong>{{data?.description}}</strong></h4>
            <p *ngIf="data?.type == 'saint'" mat-line> ngày <strong>{{data?.day}}</strong></p>
            <h4 *ngIf="data?.type != 'saint'" mat-line>{{data?.name}}: <strong>{{data?.dayView}}</strong></h4>
            <p *ngIf="data?.type != 'saint' && data?.entityType == 'clergy'" mat-line>tại
                <strong>{{data?.locationName}}</strong>
            </p>
            <h4 *ngIf="data?.type != 'saint'" mat-line>{{data?.descriptionView}}</h4>
            <span fxFlex></span>
            <button (click)="$event.stopPropagation();" mat-icon-button [matMenuTriggerFor]="actionsMenu"
                matTooltip="Thao Tác Khác">
                <mat-icon class="material-icons" svgIcon="ic_more_vert_48px"></mat-icon>
            </button>
            <mat-menu #actionsMenu="matMenu" [overlapTrigger]="false" xPosition="after">
                <button mat-menu-item (click)="onChangeData(data)">
                    <mat-icon class="material-icons" svgIcon="ic_create_48px"></mat-icon> Sửa
                </button>
                <button *ngIf="data?.locationID?.length > 0" mat-menu-item [disabled]="dataProcessing"
                    (click)="openNewTab(data,'location')">
                    <mat-icon svgIcon="ic_open_in_new_48dp"></mat-icon>
                    <span>Xem Nơi Diễn Ra Sự Kiện</span>
                </button>
                <!-- <button *ngIf="data.status !== 'inactive'" mat-menu-item matTooltip="Tạm Ẩn"
                    (click)="$event.stopPropagation();onUpdateStatus(data,'inactive')">
                    <mat-icon class="material-icons" svgIcon="ic_toggle_off"></mat-icon>Tạm Ẩn
                </button>
                <button *ngIf="data.status == 'inactive'" mat-menu-item
                    (click)="$event.stopPropagation();onUpdateStatus(data,'active')" matTooltip="Mở Lại">
                    <mat-icon class="material-icons" svgIcon="ic_toggle_on"></mat-icon>Mở Lại
                </button> -->
                <button mat-menu-item (click)="$event.stopPropagation();deleteItem(data)">
                    <mat-icon svgIcon="ic_delete_48px"></mat-icon>Xóa
                </button>
            </mat-menu>
        </mat-list-item>
    </mat-nav-list>
    <mat-divider class="full-width"></mat-divider>
    <div fxLayout="row" fxLayoutAlign="center center" class="mrt-12">
        <span fxFlex></span>
        <ng-container *ngIf="(hasShowAdd?.pho_te || hasShowAdd?.linh_muc || hasShowAdd?.rip) && entityType == 'clergy'; else nonMore">
            <button  mat-button color="primary" [matMenuTriggerFor]="eventsMenu">Thêm Sự Kiện</button>
            <mat-menu #eventsMenu="matMenu" [overlapTrigger]="false" xPosition="after">
                <button *ngIf="hasShowAdd?.pho_te" mat-menu-item [disabled]="dataProcessing" (click)="onNewItem('pho_te')">
                    <span >Ngày Thụ Phong Phó Tế</span>
                </button>
                <button *ngIf="hasShowAdd?.linh_muc" mat-menu-item [disabled]="dataProcessing"
                    (click)="onNewItem('linh_muc')">
                    <span>Ngày Thụ Phong Linh Mục</span>
                </button>
                <button *ngIf="hasShowAdd?.rip" mat-menu-item [disabled]="dataProcessing" (click)="onNewItem('rip')">
                    <span>Ngày Mất</span>
                </button>
                <button mat-menu-item [disabled]="dataProcessing" (click)="onNewItem('anniversary')">
                    <span>Kỷ Niệm Khác</span>
                </button>
            </mat-menu>
        </ng-container>
        <ng-template #nonMore>
            <button  mat-button color="primary" (click)="onNewItem('anniversary')">Thêm Sự Kiện</button>
        </ng-template>
    </div>
</ng-container>
<ng-template #noDataTemf>
    <div fxLayout="column" fxLayoutAlign="center center">
        <h4>Chưa có thông tin</h4>
        <button (click)="onCreateAuto()" mat-flat-button color="primary">Tạo tự động sự kiện cơ bản</button>
    </div>
</ng-template>