.activity-panel {
    background-color: rgba(255, 255, 255, 0);
    width: 100%;
    .white-toolbar {
        background-color: rgba(0, 0, 0, 0);
        border-bottom: 1px solid rgba(0, 0, 0, 0.12);
    }

    .title {
        font-size: 18px;
        font-weight: 500;
    }

    .activity-list {
        // height: calc(100vh - 136px);
        position: relative;
        // margin-left: 18px;
        // overflow: auto;

        &::before {
            content: "";
            position: absolute;
            height: 80%;
            top: 50px;
            bottom: 2px;
            left: 40px;
            width: 1px;
            background-color: rgba(0, 0, 0, 0.12);
        }
    }

    .activity-list-item {
        flex-flow: row wrap;
        box-sizing: border-box;
        display: flex;
    }
    .activity-list-item-child {
        flex-flow: row wrap;
        box-sizing: border-box;
        display: flex;
        margin-left: 10px;
    }

    .activity-list-item:last-child {
        margin-bottom: 12px;
    }

    .activity-name-sub {
        color: #0052ff;
        font-weight: 600;
        font-size: 16px !important;
    }

    .activity-action-sub {
        font-weight: 600;
    }

    .activity-date-sub {
        font-size: 16px !important;
        font-weight: 500 !important;
        color: #78849e;
    }

    .activity-app-sub {
        font-size: 12px !important;
        font-weight: 400 !important;
        color: #78849e;
    }

    .activity-name {
        font-weight: 600;
    }

    .activity-action {
        font-size: 12px;
        font-weight: 800;
        &.use-data {
            margin-left: 10px !important;
        }
    }

    .activity-date {
        font-weight: 500;
        color: #78849e;
    }

    .activity-icon {
        background-color: #007effd9;
        color: #ffffff;
        width: 30px !important;
        height: 30px !important;
        margin-left: 10px;
        &.use-data {
            position: absolute;
            top: 30px !important;
        }
        span {
            font-size: 12px;
            font-weight: 600;
        }
    }
}
