<h2 mat-dialog-title>{{title}} Tu Sĩ</h2>
<mat-dialog-content>
	<div class="content-dialog">
		<form class="form-horizontal" novalidate [formGroup]="dataItemGroup" autocomplete="off">

			<div fxLayout="row wrap">
				<div fxFlex.gt-xs="40" fxFlex="100" [ngStyle.gt-xs]="{'padding-right': '24px'}">
					<mat-form-field appearance="outline" class="full-width">
						<mat-label>Tên Thánh</mat-label>
						<!-- <input matInput formControlName="stName" type="text" autocomplete="off"> -->
						<se-autocomplete-simple [required]="true" [formControlName]="'stName'" [switchAt]="10"
							[optgroup]="false" [placeHolder]="'Nhập tên Thánh...'" [keyTitle]="'name'"
							[keyValue]="'id'" [autocomplete]="true" [items$]="saintList$">
						</se-autocomplete-simple>
					</mat-form-field>
				</div>
				<div fxFlex.gt-xs="60" fxFlex="100">
					<mat-form-field appearance="outline">
						<mat-label>Tên</mat-label>
						<input matInput required formControlName="name" autocomplete="off">
					</mat-form-field>
				</div>
			</div>
			<div fxLayout="row wrap">
				<div fxFlex.gt-xs="50" fxFlex="100" [ngStyle.gt-xs]="{'padding-right': '24px'}">
					<mat-form-field appearance="outline" class="full-width">
						<mat-label>Phân Loại Tu Sĩ</mat-label>
						<se-autocomplete-simple [required]="false" [formControlName]="'type'" [switchAt]="10"
							[optgroup]="false" [placeHolder]="'Nhập Loại Tu Sĩ...'" [keyTitle]="'name'"
							[keyValue]="'code'" [keyValueEmit]="'code'" [autocomplete]="false" [items]="typeList">
						</se-autocomplete-simple>
					</mat-form-field>
				</div>
				<div fxFlex.gt-xs="50" fxFlex="100">
					<mat-form-field appearance="outline" class="full-width">
						<mat-label>Thuộc</mat-label>
						<se-autocomplete-simple [required]="false" [formControlName]="'organizationID'" [switchAt]="10"
							[optgroup]="false" [placeHolder]="'Nhập Chức Vụ...'" [keyTitle]="'name'" [keyValue]="'id'"
							[keyValueEmit]="'id'" [autocomplete]="false" [items]="organizationList">
						</se-autocomplete-simple>
					</mat-form-field>
				</div>
			</div>
			<div fxLayout="row wrap">
				<div fxFlex.gt-xs="50" fxFlex="100" [ngStyle.gt-xs]="{'padding-right': '24px'}">
					<mat-form-field appearance="outline" class="full-width">
						<mat-label>Email</mat-label>
						<input matInput formControlName="email" autocomplete="off">
					</mat-form-field>
				</div>
				<div fxFlex.gt-xs="50" fxFlex="100">
					<mat-form-field appearance="outline" class="full-width">
						<mat-label>Số Điện Thoại</mat-label>
						<input matInput formControlName="phoneNumber" autocomplete="off">
					</mat-form-field>
				</div>
			</div>
			<mat-slide-toggle color="primary" formControlName="status">Công Khai</mat-slide-toggle>
		</form>
		<div class="btn-dialog-actions" fxLayout="row" fxLayoutAlign="start center">
			<span fxFlex></span>
			<a mat-button (click)="closeDialog()" color="default">Hủy</a>
			<div class="btn-save-process">
				<button mat-flat-button [disabled]="dataProcessing || saveAction === 'delete' || target !== 'edit'"
					aria-label="Delete" (click)="deleteItem()" color="warn">Xóa</button>
				<mat-spinner [diameter]="24" *ngIf="saveAction === 'delete'"></mat-spinner>
			</div>
			<div class="btn-save-process">
				<button mat-flat-button color="primary"
					[disabled]="!hasChangedGroup || !dataItemGroup.valid || dataProcessing || saveAction === 'save'"
					aria-label="Save" (click)="onSaveItem()">{{textSave}}</button>
				<mat-spinner [diameter]="24" *ngIf="saveAction === 'save'"></mat-spinner>
			</div>
		</div>
	</div>
</mat-dialog-content>