.posts-banner-container {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding: 24px 0;
    position: relative;
    height: 500px;
    .logo-banner {
        position: absolute;
        left: 40px;
        display: flex;
        align-items: center;
        .logo {
            width: 90px;
            height: 100%;
            margin-right: 16px;
        }
        h2 {
            font-size: 24px;
            font-weight: 700;
            line-height: 1.4;
            color: $blue;
        }
    }
    .item-post-banner {
        width: 500px;
        margin: 0 auto;
        h3 {
            font-size: 24px;
            font-weight: 600;
            line-height: 1.4;
            color: $green;
            margin: 0 0 16px;
        }
        figcaption {
            p {
                font-size: 16px;
                line-height: 1.4;
                font-weight: 500;
                margin: 0 0 16px;
                color: $white;
            }
            a {
                font-size: 14px;
                font-weight: 500;
                line-height: 1.4;
                color: $white;
            }
        }
    }
}

.list-banner-container {
    padding: 40px 0;
    background-color: $blue;
    .figure {
        .figure-img {
            width: 100%;
        }
        .figure-caption {
            h3 {
                font-size: 18px;
                font-weight: 500;
                line-height: 1.4;
                margin: 0 0 12px;
                color: $green;
            }
            p {
                font-size: 16px;
                line-height: 1.4;
                font-weight: 500;
                margin: 0 0 16px;
                color: $white;
            }
            a {
                font-size: 14px;
                font-weight: 500;
                line-height: 1.4;
                color: $green;
            }
        }
    }
}
