.categories-container {
    padding: 40px 30px;
    background-color: #ccc;
    .item-categories {
        position: relative;
        .figure-img {
            width: 100%;
        }
        .figure-caption {
            position: absolute;
            bottom: 24px;
            left: 0;
            right: 0;
            padding: 10px 0;
            text-align: center;
            background-color: rgba(255, 255, 255, 0.7);
            font-size: 16px;
            font-weight: 600;
            line-height: 1.4;
            color: $blue;
        }
    }
}
