.posts-related {
    background-color: #54798f;
    min-height: 100px;
    .item-result {
        min-height: 100px;
        .title {
            color: #ffffff;
            font-size: 15px;
            font-weight: 600;
        }
        img{
            height: 60px;
            width: 60px;
            border-radius: 50%;
            object-fit: cover;
        }
    }
}
