.search-list-container {
    width: auto;
    background-color: $blueMint;
    padding: 16px 0;
    h2 {
        font-size: 24px;
        font-weight: 500;
        line-height: 1;
        margin: 0;
        white-space: nowrap;
        color: $white;
        margin-right: 24px;
    }
    .form-select,
    .form-control {
        margin-right: 24px;
    }
    .mat-flat-button {
        min-width: 90px;
    }
}

.result-list-container-search {
    // Virtual scroll css
    .list-viewport {
        padding: 24px;
        background-color: #ccc;
        min-height: calc(100vh - 261px) !important;
        width: 100%;
        .item-result {
            padding: 24px;
            margin-bottom: 24px;
            border-bottom: 1px solid #333;
            h2 {
                font-size: 20px;
                color: #054dab;
                font-weight: 600;
                line-height: 1.4;
                margin: 0;
                &.title {
                    color: red;
                }
            }
            &.last-item {
                border-bottom: none !important;
            }
            > div {
                justify-content: space-between !important;
            }
            .thumb {
                img {
                    width: 150px;
                    height: auto;
                    max-height: 150px;
                }
                &--clergys {
                    img {
                        width: auto;
                        height: 150px;
                        max-width: 100px;
                    }
                }
            }
            .info,
            .contact,
            .times {
                line-height: 2;
                width: 200px;
                min-height: 100px;
                .link {
                    cursor: pointer;
                }
                h2 {
                    font-size: 20px;
                    color: #054dab;
                    font-weight: 600;
                    line-height: 1.4;
                    margin: 0;
                    &.title {
                        color: red;
                    }
                }
                h3 {
                    font-size: 17px;
                    font-weight: 600;
                    line-height: 1.4;
                    margin: 0;
                    &.title {
                        color: red;
                    }
                }
                h4 {
                    font-size: 16px;
                    font-weight: 400;
                    line-height: 1.4;
                    margin: 0;
                }
            }
        }
    }

    .list-viewport-no-data {
        height: 0;
    }
}

.result-list-container {
    min-height: 200px;
    padding: 24px;
    background-color: #ccc;
    max-height: 400px;
    overflow: auto;
    &--clergys {
        max-height: 70vh;
    }
    .item-result {
        padding-bottom: 24px;
        margin-bottom: 24px;
        border-bottom: 1px solid #333;
        &.last-item {
            border-bottom: none !important;
        }
        > div {
            justify-content: space-between !important;
        }
        .thumb {
            img {
                width: 150px;
                height: auto;
            }
            &--clergys {
                img {
                    width: auto;
                    height: 150px;
                }
            }
            max-width: 150px;
        }
        .info,
        .contact,
        .times {
            width: 200px;
            min-height: 100px;
            h2 {
                font-size: 25px;
                font-weight: 600;
                line-height: 1.4;
                margin: 0;
                &.title {
                    color: red;
                }
            }
            h3 {
                font-size: 16px;
                font-weight: 400;
                line-height: 1.4;
                margin: 0;
            }
        }
    }
}
