<div class="container-fluid posts-banner-container" [style.backgroundImage]="'url(' + bgImage + ')'">
    <div class="logo-banner">
        <img class="logo" [src]="logoRightUrl" />
        <h2>TIN GIÁO PHẬN</h2>
    </div>
    <div class="item-post-banner">
        <figure>
            <h3>Our Role</h3>
            <figcaption>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Numquam, est harum laudantium eligendi
                    repellendus quis, reprehenderit eos tempora reiciendis officia recusandae aperiam natus labore
                    exercitationem inventore aspernatur facere accusamus soluta?</p>
                <a href="#">Xem thêm</a>
            </figcaption>
        </figure>
    </div>
</div>

<div class="container-fluid list-banner-container">
    <div class="container-xl">
        <div class="row">
            <ng-container *ngFor="let item of dataItems">
                <div class="col-3">
                    <figure class="item-post-banner figure">
                        <img [src]="item?.pictureUrl" class="figure-img" alt="thumb">
                        <figcaption class="figure-caption-list">
                            <h2>{{item?.title}}</h2>
                            <p>{{item?.metaDescription}}</p>
                            <a href="#">Xem thêm</a>
                        </figcaption>
                    </figure>
                </div>
            </ng-container>
        </div>
    </div>
</div>