<div class="admin-navbar" fxLayout="column" fxLayoutAlign="start center">
    <!-- <div class="top-menu" fxLayout="row" fxLayoutAlign="start center"> -->
    <!-- <span fxFlex></span> -->
    <!-- <button mat-icon-button matTooltip="Activity" [matMenuTriggerFor]="alertAccount">
            <mat-icon [matBadge]="iNotificationMyAccount" matBadgeColor="primary" matBadgePosition="before"
                [matBadgeHidden]="iNotificationMyAccount == 0" svgIcon="ic_notifications_24px"
                matBadgeSize="small"></mat-icon>
        </button>
        <mat-menu #alertAccount="matMenu">
            <app-notifications></app-notifications>
        </mat-menu> -->
    <!-- Account Dropdown -->
    <!-- <div fxLayout="row" fxLayoutAlign="center center">
            <button mat-icon-button [matMenuTriggerFor]="account" matTooltip="Cài Đặt">
                <mat-icon svgIcon="ic_settings_24px"></mat-icon>
            </button>
        </div> -->
    <!-- <div fxHide.gt-sm fxLayout="row" fxLayoutAlign="center center" (click)="onColseMainMenu()">
            <button mat-icon-button matTooltip="Đóng">
                <mat-icon svgIcon="ic_arrow_back_48dp"></mat-icon>
            </button>
        </div> -->

    <!-- Account Dropdown Menu-->
    <!-- <mat-menu #account="matMenu">
            <mat-nav-list>
                <mat-list-item [routerLink]="['/my-account/my-account-home']">
                    <h6 mat-line>
                        <b>{{currentUser?.name}}</b>
                    </h6>
                    <p class="mat-text-muted" mat-line>{{currentUser?.username}}</p>
                    <img [src]="currentUser?.pictureUrl" alt="Avatar" mat-list-avatar />
                </mat-list-item>
            </mat-nav-list>
            <button mat-menu-item [disabled]="isNullOrEmpty(currentUser?.id)">
                <mat-icon class="material-icons" svgIcon="ic_edit_note_24dp"></mat-icon>
                <span>Chỉnh Sửa Thông Tin</span>
            </button>
            <button mat-menu-item>
                <mat-icon class="material-icons" svgIcon="ic_exit_to_app_48px"></mat-icon>
                Đăng Xuất
            </button>
        </mat-menu> -->
    <!-- </div> -->
    <div class="member-container" fxLayout="column" fxLayoutAlign="start center">
        <div class="full-width mrt-24" fxLayout="row" fxLayoutAlign="center start">
            <img [src]="currentUser?.pictureUrl">
        </div>
        <div class="contact" fxLayout="column" fxLayoutAlign="center center">
            <div class="name"> GIÁO PHẬN PHÚ CƯỜNG </div>
            <div class="email"> TRUYỀN THÔNG TRONG ĐỨC KITÔ</div>
        </div>
    </div>
    <mat-accordion multi>
        <mat-expansion-panel [expanded]="openedPanel == 'website'">
            <mat-expansion-panel-header>
                <mat-panel-title>
                    <mat-icon class="app-icon mrr-24" svgIcon="ic_article_48dp"></mat-icon> Quản Lý Website
                </mat-panel-title>
            </mat-expansion-panel-header>
            <mat-panel-description>
                <mat-nav-list>
                    <mat-list-item [routerLink]="['/admin/posts/post-list']" [routerLinkActive]="['active']"
                        [routerLinkActiveOptions]="{exact: true}">
                        Bài Viết
                    </mat-list-item>
                    <mat-list-item [routerLink]="['/admin/tu_ngu_kinh_thanh/list']" [routerLinkActive]="['active']"
                        [routerLinkActiveOptions]="{exact: true}">
                        Từ Ngữ Kinh Thánh
                    </mat-list-item>
                    <mat-list-item [routerLink]="['/admin/loi_chua/list']" [routerLinkActive]="['active']"
                        [routerLinkActiveOptions]="{exact: true}">
                        Tin Mừng
                    </mat-list-item>
                    <mat-list-item [routerLink]="['/admin/contemplations/contemplations-list']"
                        [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact: true}">
                        Suy Niệm
                    </mat-list-item>
                    <mat-list-item [routerLink]="['/admin/parables-daily/list']" [routerLinkActive]="['active']"
                        [routerLinkActiveOptions]="{exact: true}">
                        Lời Chúa Hằng Ngày
                    </mat-list-item>
                    <mat-list-item [routerLink]="['/admin/schedule-events/list']" [routerLinkActive]="['active']"
                        [routerLinkActiveOptions]="{exact: true}">
                        Lịch Công Giáo
                    </mat-list-item>
                    <mat-list-item [routerLink]="['/admin/notification-post/list']" [routerLinkActive]="['active']"
                        [routerLinkActiveOptions]="{exact: true}">
                        Thông Báo
                    </mat-list-item>
                    <mat-list-item [routerLink]="['/admin/slides/slides-list']" [routerLinkActive]="['active']"
                        [routerLinkActiveOptions]="{exact: true}">
                        <!-- <mat-icon class="app-icon" svgIcon="ic_manage_accounts_48dp"></mat-icon> -->
                        Album Hình
                    </mat-list-item>
                    <mat-list-item [routerLink]="['/admin/folders']" [routerLinkActive]="['active']"
                        [routerLinkActiveOptions]="{exact: true}">
                        <!-- <mat-icon class="app-icon" svgIcon="ic_manage_accounts_48dp"></mat-icon> -->
                        Hình Ảnh
                    </mat-list-item>
                    <mat-list-item [routerLink]="['/admin/categories-post/post']" [routerLinkActive]="['active']"
                        [routerLinkActiveOptions]="{exact: true}">
                        <!-- <mat-icon class="app-icon" svgIcon="ic_subscriptions_48dp"></mat-icon> -->
                        Danh Mục
                    </mat-list-item>
                </mat-nav-list>
            </mat-panel-description>
        </mat-expansion-panel>
        <mat-expansion-panel [expanded]="openedPanel == 'media'">
            <mat-expansion-panel-header>
                <mat-panel-title>
                    <mat-icon class="app-icon mrr-24" svgIcon="ic_subscriptions_48dp"></mat-icon> Quản Lý Meida
                </mat-panel-title>
            </mat-expansion-panel-header>
            <mat-panel-description>
                <mat-nav-list>
                    <mat-list-item [routerLink]="['/admin/episodes/episodes-list']" [routerLinkActive]="['active']"
                        [routerLinkActiveOptions]="{exact: true}">
                        <!-- <mat-icon class="app-icon" svgIcon="maps_home_work_48dp"></mat-icon> -->
                        Episode
                    </mat-list-item>
                    <mat-list-item [routerLink]="['/admin/chapters/chapters-list']" [routerLinkActive]="['active']"
                        [routerLinkActiveOptions]="{exact: true}">
                        <!-- <mat-icon class="app-icon" svgIcon="maps_home_work_48dp"></mat-icon> -->
                        Chương
                    </mat-list-item>
                    <mat-list-item [routerLink]="['/admin/books/books-list']" [routerLinkActive]="['active']"
                        [routerLinkActiveOptions]="{exact: true}">
                        <!-- <mat-icon class="app-icon" svgIcon="maps_home_work_48dp"></mat-icon> -->
                        Sách
                    </mat-list-item>
                    <mat-list-item [routerLink]="['/admin/media-files/media-files-tree']"
                        [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact: true}">
                        <!-- <mat-icon class="app-icon" svgIcon="maps_home_work_48dp"></mat-icon> -->
                        Media Files
                    </mat-list-item>
                    <mat-list-item [routerLink]="['/admin/categories-media/media']" [routerLinkActive]="['active']"
                        [routerLinkActiveOptions]="{exact: true}">
                        <!-- <mat-icon class="app-icon" svgIcon="ic_subscriptions_48dp"></mat-icon> -->
                        Danh Mục Book
                    </mat-list-item>
                </mat-nav-list>
            </mat-panel-description>
        </mat-expansion-panel>
        <mat-expansion-panel [expanded]="openedPanel == 'data'">
            <mat-expansion-panel-header>
                <mat-panel-title>
                    <mat-icon class="app-icon mrr-24" svgIcon="maps_home_work_48dp"></mat-icon> Quản Lý Dữ Liệu
                </mat-panel-title>
            </mat-expansion-panel-header>
            <mat-panel-description>
                <mat-nav-list>
                    <mat-list-item [routerLink]="['/admin/tags/tags-list']" [routerLinkActive]="['active']"
                        [routerLinkActiveOptions]="{exact: true}">
                        <!-- <mat-icon class="app-icon" svgIcon="ic_sell_48dp"></mat-icon> -->
                        Tags
                    </mat-list-item>
                    <mat-list-item [routerLink]="['/admin/catalogues-list']" [routerLinkActive]="['active']"
                        [routerLinkActiveOptions]="{exact: true}">
                        <!-- <mat-icon class="app-icon" svgIcon="ic_subscriptions_48dp"></mat-icon> -->
                        Mục Lục
                    </mat-list-item>
                    <mat-list-item [routerLink]="['/admin/authors/authors-list']" [routerLinkActive]="['active']"
                        [routerLinkActiveOptions]="{exact: true}">
                        <!-- <mat-icon class="app-icon" svgIcon="ic_account_box_48dp"></mat-icon> -->
                        Tác Giả
                    </mat-list-item>
                    <mat-list-item [routerLink]="['/admin/manage/saints-list']" [routerLinkActive]="['active']"
                        [routerLinkActiveOptions]="{exact: true}">
                        <!-- <mat-icon class="app-icon" svgIcon="ic_manage_accounts_48dp"></mat-icon> -->
                        Các Thánh
                    </mat-list-item>
                </mat-nav-list>
            </mat-panel-description>
        </mat-expansion-panel>

        <mat-expansion-panel [expanded]="openedPanel == 'manage'">
            <mat-expansion-panel-header>
                <mat-panel-title>
                    <mat-icon class="app-icon mrr-24" svgIcon="ic_person_48dp"></mat-icon> Quản Lý Giáo Phận
                </mat-panel-title>
            </mat-expansion-panel-header>
            <mat-panel-description>
                <mat-nav-list>
                    <mat-list-item [routerLink]="['/admin/manage/giao_hat/list']" [routerLinkActive]="['active']"
                        [routerLinkActiveOptions]="{exact: true}">
                        Giáo Hạt
                    </mat-list-item>
                    <mat-list-item [routerLink]="['/admin/manage/giao_xu/list']" [routerLinkActive]="['active']"
                        [routerLinkActiveOptions]="{exact: true}">
                        Giáo Xứ
                    </mat-list-item>
                    <mat-list-item [routerLink]="['/admin/manage/giao_ho/list']" [routerLinkActive]="['active']"
                        [routerLinkActiveOptions]="{exact: true}">
                        Giáo Họ
                    </mat-list-item>
                    <mat-list-item [routerLink]="['/admin/manage/giao_diem/list']" [routerLinkActive]="['active']"
                        [routerLinkActiveOptions]="{exact: true}">
                        Giáo Điểm
                    </mat-list-item>
                    <mat-list-item [routerLink]="['/admin/manage/dong_tu/list']" [routerLinkActive]="['active']"
                        [routerLinkActiveOptions]="{exact: true}">
                        Dòng Tu
                    </mat-list-item>
                    <mat-list-item [routerLink]="['/admin/manage/cong_doan/list']" [routerLinkActive]="['active']"
                        [routerLinkActiveOptions]="{exact: true}">
                        Cộng Đoàn
                    </mat-list-item>
                    <mat-list-item [routerLink]="['/admin/manage/co_so_giao_phan/list']" [routerLinkActive]="['active']"
                        [routerLinkActiveOptions]="{exact: true}">
                        Cơ Sở Giáo Phận
                    </mat-list-item>

                    <!-- <mat-list-item [routerLink]="['/admin/manage/hoi_doan/list']" [routerLinkActive]="['active']"
                        [routerLinkActiveOptions]="{exact: true}">
                        Hội Đoàn
                    </mat-list-item> -->
                    <mat-list-item [routerLink]="['/admin/manage/ban_muc_vu/list']" [routerLinkActive]="['active']"
                        [routerLinkActiveOptions]="{exact: true}">
                        Ban Mục Vụ
                    </mat-list-item>
                    <mat-list-item [routerLink]="['/admin/manage/ban_chuyen_mon/list']" [routerLinkActive]="['active']"
                        [routerLinkActiveOptions]="{exact: true}">
                        Ban Chuyên Môn
                    </mat-list-item>
                    <mat-list-item [routerLink]="['/admin/manage/clergys/clergys-list']" [routerLinkActive]="['active']"
                        [routerLinkActiveOptions]="{exact: true}">
                        Linh Mục
                    </mat-list-item>
                    <mat-list-item [routerLink]="['/admin/manage/positions']" [routerLinkActive]="['active']"
                        [routerLinkActiveOptions]="{exact: true}">
                        Chức Vụ
                    </mat-list-item>
                    <mat-list-item [routerLink]="['/admin/manage/appointments/appointments-list']"
                        [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact: true}">
                        Bổ Nhiệm
                    </mat-list-item>
                    <!-- <mat-list-item [routerLink]="['/admin/manage/migrations/migrations-list']" [routerLinkActive]="['active']"
                        [routerLinkActiveOptions]="{exact: true}">
                       Thuyên Chuyển
                    </mat-list-item> -->
                </mat-nav-list>
            </mat-panel-description>
        </mat-expansion-panel>

        <mat-expansion-panel [expanded]="openedPanel == 'manage'">
            <mat-expansion-panel-header>
                <mat-panel-title>
                    <mat-icon class="app-icon mrr-24" svgIcon="ic_person_48dp"></mat-icon> Quản Lý Ngoài Giáo Phận
                </mat-panel-title>
            </mat-expansion-panel-header>
            <mat-panel-description>
                <mat-nav-list>
                    <mat-list-item [routerLink]="['/admin/manage/dioceses/list']" [routerLinkActive]="['active']"
                        [routerLinkActiveOptions]="{exact: true}">
                        Danh Sách Giáo Phận
                    </mat-list-item>
                    <mat-list-item [routerLink]="['/admin/manage/co_so_ngoai_giao_phan/list']"
                        [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact: true}">
                        Cơ Sở Ngoài Giáo Phận
                    </mat-list-item>
                </mat-nav-list>
            </mat-panel-description>
        </mat-expansion-panel>

        <mat-expansion-panel [expanded]="openedPanel == 'system'">
            <mat-expansion-panel-header>
                <mat-panel-title>
                    <mat-icon class="app-icon mrr-24" svgIcon="ic_manage_accounts_48dp"></mat-icon> Quản Lý Hệ Thống
                </mat-panel-title>
            </mat-expansion-panel-header>
            <mat-panel-description>
                <mat-nav-list>
                    <mat-list-item [routerLink]="['/admin/users-list']" [routerLinkActive]="['active']"
                        [routerLinkActiveOptions]="{exact: true}">
                        <!-- <mat-icon class="app-icon" svgIcon="ic_manage_accounts_48dp"></mat-icon> -->
                        Người Dùng
                    </mat-list-item>
                </mat-nav-list>
            </mat-panel-description>
        </mat-expansion-panel>
    </mat-accordion>
</div>

<!-- <mat-nav-list>
    <mat-list-item [routerLink]="['/admin/categories-list']" [routerLinkActive]="['active']"
        [routerLinkActiveOptions]="{exact: true}">
        <mat-icon class="app-icon" svgIcon="ic_subscriptions_48dp"></mat-icon>
        Danh Mục
    </mat-list-item>
    <mat-list-item [routerLink]="['/admin/tags/tags-list']" [routerLinkActive]="['active']"
        [routerLinkActiveOptions]="{exact: true}">
        <mat-icon class="app-icon" svgIcon="ic_sell_48dp"></mat-icon>
        Tags
    </mat-list-item>
    <mat-list-item [routerLink]="['/admin/catalogues-list']" [routerLinkActive]="['active']"
        [routerLinkActiveOptions]="{exact: true}">
        <mat-icon class="app-icon" svgIcon="ic_subscriptions_48dp"></mat-icon>
        Mục Lục
    </mat-list-item>
    <mat-list-item [routerLink]="['/admin/authors/authors-list']" [routerLinkActive]="['active']"
        [routerLinkActiveOptions]="{exact: true}">
        <mat-icon class="app-icon" svgIcon="ic_account_box_48dp"></mat-icon>
        Tác Giả
    </mat-list-item>
    <mat-list-item [routerLink]="['/admin/posts/post-list']" [routerLinkActive]="['active']"
        [routerLinkActiveOptions]="{exact: true}">
        <mat-icon class="app-icon" svgIcon="ic_article_48dp"></mat-icon>
        Bài Viết
    </mat-list-item>
    <mat-list-item [routerLink]="['/admin/slides/slides-list']" [routerLinkActive]="['active']"
        [routerLinkActiveOptions]="{exact: true}">
        <mat-icon class="app-icon" svgIcon="ic_manage_accounts_48dp"></mat-icon>
        Album Hình
    </mat-list-item>
    <mat-list-item [routerLink]="['/admin/parables/parables-list']" [routerLinkActive]="['active']"
        [routerLinkActiveOptions]="{exact: true}">
        <mat-icon class="app-icon" svgIcon="ic_article_48dp"></mat-icon>
        Lời Chúa
    </mat-list-item>
    <mat-list-item [routerLink]="['/admin/contemplations/contemplations-list']" [routerLinkActive]="['active']"
        [routerLinkActiveOptions]="{exact: true}">
        <mat-icon class="app-icon" svgIcon="ic_article_48dp"></mat-icon>
        Suy Niệm
    </mat-list-item>
    <h3 mat-subheader style="color: #9c9a9a;">Quản Lý Media</h3>
    <mat-list-item [routerLink]="['/admin/media-files/media-files-tree']" [routerLinkActive]="['active']"
        [routerLinkActiveOptions]="{exact: true}">
        <mat-icon class="app-icon" svgIcon="maps_home_work_48dp"></mat-icon>
       Media Files
    </mat-list-item>
    <h3 mat-subheader style="color: #9c9a9a;">Quản Lý Thông Tin</h3>
    <mat-list-item [routerLink]="['/admin/manage/groups-list']" [routerLinkActive]="['active']"
        [routerLinkActiveOptions]="{exact: true}">
        <mat-icon class="app-icon" svgIcon="maps_home_work_48dp"></mat-icon>
        Giáo Hạt
    </mat-list-item>
    <mat-list-item [routerLink]="['/admin/manage/organizations/organizations-list']" [routerLinkActive]="['active']"
        [routerLinkActiveOptions]="{exact: true}">
        <mat-icon class="app-icon" svgIcon="ic_church_24dp"></mat-icon>
        Giáo Xứ
    </mat-list-item>
    <mat-list-item [routerLink]="['/admin/manage/clergys/clergys-list']" [routerLinkActive]="['active']"
        [routerLinkActiveOptions]="{exact: true}">
        <mat-icon class="app-icon" svgIcon="ic_priest"></mat-icon>
        Linh Mục
    </mat-list-item>
    <mat-list-item [routerLink]="['/admin/manage/saints-list']" [routerLinkActive]="['active']"
        [routerLinkActiveOptions]="{exact: true}">
        <mat-icon class="app-icon" svgIcon="ic_manage_accounts_48dp"></mat-icon>
        Các Thánh
    </mat-list-item>
    <h3 mat-subheader style="color: #908f8f;">Quản Lý Hệ Thống</h3>
    <mat-list-item [routerLink]="['/admin/folders']" [routerLinkActive]="['active']"
        [routerLinkActiveOptions]="{exact: true}">
        <mat-icon class="app-icon" svgIcon="ic_manage_accounts_48dp"></mat-icon>
        Thư Mục
    </mat-list-item>
    <mat-list-item [routerLink]="['/admin/users-list']" [routerLinkActive]="['active']"
        [routerLinkActiveOptions]="{exact: true}">
        <mat-icon class="app-icon" svgIcon="ic_manage_accounts_48dp"></mat-icon>
        Người Dùng
    </mat-list-item>
</mat-nav-list> -->