<div class="container-xl">
    <div class="result-list-container">
        <ng-container *ngIf="loading; else temfData">
            <mat-spinner [diameter]="24"></mat-spinner>
        </ng-container>
        <ng-template #temfData>
            <div *ngIf="dataLists?.length == 0" fxLayout="row" fxLayoutAlign="center center">
                <p>Không có dữ liệu.</p>
            </div>
            <ng-template ngFor let-item let-last="last" [ngForOf]="dataLists">
                <div class="item-result" [ngClass]="{'last-item': last}">
                    <div fxLayout="row" fxLayoutAlign="start center">
                        <div class="thumb">
                            <img [src]="item.pictureUrl" />
                        </div>
                        <div class="info" fxFlex="50">
                            <h2>{{item.name}}</h2>
                            <h3>Địa chỉ: {{item.address}}</h3>
                            <h3>Email: {{item.email}}</h3>
                        </div>
                        <div class="contact">
                            <h3>Điện thoại: {{item.phoneNumber}}</h3>
                            <h3>Dân số: {{item.population}}</h3>
                            <h3>Số tín hữu: {{item.memberCount}}</h3>
                        </div>
                        <div class="times" fxLayout="column" fxLayoutAlign="start start">
                            <h2 class="title">Giờ lễ</h2>
                            <h3 *ngFor="let masses of item.arrMasseses">{{masses.name}}: {{masses.time}}</h3>
                        </div>
                    </div>
                </div>
            </ng-template>
        </ng-template>
    </div>
</div>