<div class="se-post-list">
    <span class="category-title">{{title}}</span>
    <mat-list>
        <ng-template let-post let-i="index" ngFor [ngForOf]="posts">
            <mat-list-item class="mg-list-item" [ngClass]="{'mrt-24': i != 0,'mrb-12': i != posts?.length-1}">
                <h3 mat-line class="list-item-title" [matTooltip]="post.discription">{{post.title}}</h3>
                <!-- <p mat-line [matTooltip]="post.discription" class="list-item-subtitle">{{post.discription}}</p> -->
                <span fxFlex></span>
            </mat-list-item>
            <mat-divider *ngIf="i != posts?.length-1"></mat-divider>
        </ng-template>
    </mat-list>
</div>