<div class="post-info">
	<div class="sticky-toolbar">
		<mat-toolbar fxLayout="row" fxLayoutAlign="space-between center">
			<div fxLayout="row" fxLayoutAlign="center center">
				<button mat-icon-button (click)="routeToBack()">
					<mat-icon svgIcon="ic_arrow_back_48dp"></mat-icon>
				</button>
				<span class="truncate">Trở về {{matTooltipBack}}</span>
			</div>
			<div *ngIf="statusLabel?.title !== ''">
				<span class="mat-elevation-z1" [ngClass]="statusLabel.class">{{statusLabel.title}}</span>
			</div>
			<div fxLayout="row" fxLayoutAlign="space-between center" fxLayoutGap="12px">
				<!-- <button (click)="openDialogImg()" mat-flat-button color="warn">Upload Hinh</button> -->
				<button (click)="routeToBack()" mat-flat-button color="warn">Hủy</button>
				<button (click)="onSave()" mat-flat-button color="primary">Lưu</button>

			</div>
		</mat-toolbar>
	</div>
	<mat-divider></mat-divider>
	<div class="post-container">
		<form [formGroup]="dataItemGroup">
			<div fxLayout="column" fxLayoutAlign="start start">
				<!-- <div fxFlex="50" class="mrr-24"> -->
				<div fxLayout="row wrap" class="full-width">
					<div fxFlex.gt-xs="70" fxFlex="100" [ngStyle.gt-xs]="{'padding-right': '24px'}">
						<mat-form-field appearance="outline" class="full-width">
							<mat-label>Tên</mat-label>
							<input matInput required formControlName="name" autocomplete="off">
						</mat-form-field>
					</div>
					<div fxFlex.gt-xs="30" fxFlex="100">
						<mat-form-field *ngIf="target != 'giao_hat'" appearance="outline" class="full-width">
							<mat-label>Giáo Hạt</mat-label>
							<se-autocomplete-simple [required]="false" [formControlName]="'groupID'" [optgroup]="false"
								[placeHolder]="'Giáo Hạt'" [keyTitle]="'name'" [keyValue]="'id'" [keyValueEmit]="'id'"
								[autocomplete]="false" [items$]="groupList$">
							</se-autocomplete-simple>
						</mat-form-field>
					</div>
				</div>
				<mat-form-field appearance="outline" class="full-width">
					<mat-label>Mô Tả</mat-label>
					<textarea matInput rows="3" formControlName="description"></textarea>
				</mat-form-field>
				<se-editor-control class="full-width" formControlName="content"></se-editor-control>
				<!-- </div>
				<div fxFlex="50"> -->
				<mat-divider *ngIf="target == 'giao_hat'" class="full-width mrt-24"></mat-divider>
				<mat-accordion *ngIf="target == 'giao_hat'" multi="true" class="full-width mrt-24">
					<mat-expansion-panel expanded>
						<mat-expansion-panel-header>
							<mat-panel-title>
								DANH SÁCH GIÁO XỨ VÀ GIÁO ĐIỂM THUỘC GIÁO HẠT
							</mat-panel-title>
						</mat-expansion-panel-header>
						<app-organizations-list [groupID]="ID" class="full-width"></app-organizations-list>
					</mat-expansion-panel>
				</mat-accordion>

				<!-- </div> -->
			</div>
		</form>
	</div>
</div>