<section class="control-main-header">
    <div class="container-xl">
        <div fxLayout="row" fxLayoutAlign="start center">
            <div class="logo-container">
                <div fxLayout="row" fxLayoutAlign="start center">
                    <img class="logo" [src]="pictureUrl" />
                    <div class="title-container" fxLayout="column" fxLayoutAlign="center start">
                        <h2 class="title">GIÁO PHẬN PHÚ CƯỜNG</h2>
                        <h6 class="sub-title">TRUYỀN THÔNG TRONG CHÚA KITÔ</h6>
                    </div>
                </div>
            </div>
            <span fxFlex></span>
            <div class="search-container">
                <div fxLayout="row" fxLayoutAlign="start center">
                    <mat-icon class="search-icon" svgIcon="ic_search_48px"></mat-icon>
                    <input placeholder="Tìm kiếm thông tin">
                </div>
            </div>
            <img class="logo-right" [src]="logoRightUrl" />
        </div>
    </div>
</section>