<h2 mat-dialog-title>{{title}}</h2>
<mat-dialog-content>
	<div class="content-dialog content-dialog--minHeight">
		<form class="form-horizontal" novalidate [formGroup]="dataItemGroup" autocomplete="off">
			<mat-form-field *ngIf="entityType !== 'clergy'" appearance="outline" class="full-width">
				<mat-label>Tên Tu Sĩ</mat-label>
				<se-autocomplete-simple [required]="false" [formControlName]="'clergyName'" 
					[optgroup]="false" [placeHolder]="'Tìm theo tên...'" [keyTitle]="'name'" [keyValueEmit]="'name'"
					[keyValue]="'id'" [autocomplete]="true" [items]="clergysList"
					(valueChangeSelect)="valueChangeAutocomplete($event,'clergyName')">
				</se-autocomplete-simple>
			</mat-form-field>

			<mat-tab-group class="full-width" mat-stretch-tabs="false" mat-align-tabs="center" (selectedTabChange)="selectedTabChange($event)">
				<mat-tab label="Bổ Nhiệm"></mat-tab>
				<mat-tab label="Thuyên Chuyển"></mat-tab>
			  </mat-tab-group>

			<ng-template [ngIf]="target == 'thuyen_chuyen'">
				<mat-form-field appearance="outline" class="full-width">
					<mat-label>Nơi Đi</mat-label>
					<se-autocomplete-simple [required]="false" [formControlName]="'fromAppointmentID'" 
						[optgroup]="false" [placeHolder]="'Tìm theo tên...'" [keyTitle]="'entityName'" [keyValueEmit]="'entityName'"
						[keyValue]="'id'" [autocomplete]="true" [items]="appointmentsList"
						(onSelectItem)="valueChangeAutocomplete($event,'fromAppointmentID')">
					</se-autocomplete-simple>
				</mat-form-field>
	
				<div fxLayout="row wrap">
					<div fxFlex.gt-xs="50" fxFlex="100" [ngStyle.gt-xs]="{'padding-right': '24px'}">
						<mat-form-field appearance="outline" class="full-width">
							<mat-label>Chức Vụ</mat-label>
							<se-autocomplete-simple [required]="false" [formControlName]="'fromPosition'" 
								[optgroup]="false" [placeHolder]="'Nhập Chức Vụ...'" [keyTitle]="'name'" [keyValue]="'code'"
								[keyValueEmit]="'code'" [autocomplete]="false" [items]="positionListCache">
							</se-autocomplete-simple>
						</mat-form-field>
					</div>
					<div fxFlex.gt-xs="50" fxFlex="100">
						<mat-form-field appearance="outline" class="full-width">
							<mat-label>Trạng Thái</mat-label>
							<mat-select formControlName="fromStatus" required>
								<mat-option *ngFor="let item of statusClergy" [value]="item.code">
									{{item.name}}
								</mat-option>
								<!-- <mat-option value="duong_nhiem">Đương nhiệm</mat-option>
								<mat-option value="man_nhiem">Mãn nhiệm</mat-option> -->
							</mat-select>
						</mat-form-field>
	
					</div>
				</div>
				<mat-form-field appearance="outline" class="full-width">
					<mat-label>Ngày Quyết Định</mat-label>
					<input matInput [matDatepicker]="effectiveDate" placeholder="DD/MM/YYYY" autocomplete="off"
						formControlName="fromEffectiveDate">
					<mat-datepicker-toggle matSuffix [for]="effectiveDate">
					</mat-datepicker-toggle>
					<mat-datepicker #effectiveDate></mat-datepicker>
					<!-- <mat-error *ngIf="item.get('effectiveDate').hasError('matDatepickerParse')">
						Nhập Ngày Theo Mẫu DD/MM/YYYY(05/12/1991)</mat-error> -->
				</mat-form-field>
				<mat-form-field *ngIf="dataItemGroup?.value?.status == 'duong_nhiem'" appearance="outline"
					class="full-width">
					<mat-label>Ngày Bắt Đầu</mat-label>
					<input matInput [matDatepicker]="fromDate" placeholder="DD/MM/YYYY" autocomplete="off"
						formControlName="fromFromDate">
					<mat-datepicker-toggle matSuffix [for]="fromDate">
					</mat-datepicker-toggle>
					<mat-datepicker #fromDate></mat-datepicker>
				</mat-form-field>
				<div *ngIf="dataItemGroup?.value?.status !== 'duong_nhiem'" fxLayout="row wrap">
					<div fxFlex.gt-xs="50" fxFlex="100" [ngStyle.gt-xs]="{'padding-right': '24px'}">
						<mat-form-field appearance="outline" class="full-width">
							<mat-label>Ngày Bắt Đầu</mat-label>
							<input matInput [matDatepicker]="fromDate" placeholder="DD/MM/YYYY" autocomplete="off"
								formControlName="fromFromDate">
							<mat-datepicker-toggle matSuffix [for]="fromDate">
							</mat-datepicker-toggle>
							<mat-datepicker #fromDate></mat-datepicker>
						</mat-form-field>
					</div>
					<div fxFlex.gt-xs="50" fxFlex="100">
						<mat-form-field appearance="outline" class="full-width">
							<mat-label>Ngày Kết Thúc</mat-label>
							<input matInput [matDatepicker]="toDate" placeholder="DD/MM/YYYY" autocomplete="off"
								formControlName="fromToDate">
							<mat-datepicker-toggle matSuffix [for]="toDate">
							</mat-datepicker-toggle>
							<mat-datepicker #toDate></mat-datepicker>
						</mat-form-field>
					</div>
				</div>
				<mat-form-field appearance="outline" class="full-width">
					<mat-label>Người Bổ Nhiệm</mat-label>
					<se-autocomplete-simple [required]="false" [formControlName]="'fromAppointerName'" 
						[optgroup]="false" [placeHolder]="'Tìm theo tên...'" [keyTitle]="'name'" [keyValueEmit]="'name'"
						[keyValue]="'id'" [autocomplete]="true" [items]="clergysList"
						(valueChangeSelect)="valueChangeAutocomplete($event,'appointerName')">
					</se-autocomplete-simple>
				</mat-form-field>
				<mat-divider class="full-width mrb-24"></mat-divider>
			</ng-template>
			<mat-form-field *ngIf="entityType !== 'organization'" appearance="outline" class="full-width">
				<mat-label>Nơi Đến</mat-label>
				<se-autocomplete-simple [required]="false" [formControlName]="'entityName'" 
					[optgroup]="false" [placeHolder]="'Tìm theo tên...'" [keyTitle]="'name'" [keyValueEmit]="'name'"
					[keyValue]="'id'" [autocomplete]="true" [items]="entityList" [mode]="'search-runtime'"
					(onChangeValue)="onValueChanges($event,'entityName')" [optgroup]="true"
					(onSelectItem)="valueChangeAutocomplete($event,'entityName')">
				</se-autocomplete-simple>
			</mat-form-field>

			<div fxLayout="row wrap">
				<div fxFlex.gt-xs="50" fxFlex="100" [ngStyle.gt-xs]="{'padding-right': '24px'}">
					<mat-form-field appearance="outline" class="full-width">
						<mat-label>Chức Vụ</mat-label>
						<se-autocomplete-simple [required]="false" [formControlName]="'position'" 
							[optgroup]="false" [placeHolder]="'Nhập Chức Vụ...'" [keyTitle]="'name'" [keyValue]="'code'"
							[keyValueEmit]="'code'" [autocomplete]="false" [items]="positionList">
						</se-autocomplete-simple>
					</mat-form-field>
				</div>
				<div fxFlex.gt-xs="50" fxFlex="100">
					<mat-form-field appearance="outline" class="full-width">
						<mat-label>Trạng Thái</mat-label>
						<mat-select formControlName="status" required>
							<mat-option *ngFor="let item of statusClergy" [value]="item.code">
								{{item.name}}
							</mat-option>
							<!-- <mat-option value="duong_nhiem">Đương nhiệm</mat-option>
                            <mat-option value="man_nhiem">Mãn nhiệm</mat-option> -->
						</mat-select>
					</mat-form-field>

				</div>
			</div>
			<mat-form-field appearance="outline" class="full-width">
				<mat-label>Ngày Quyết Định</mat-label>
				<input matInput [matDatepicker]="effectiveDate" placeholder="DD/MM/YYYY" autocomplete="off"
					formControlName="effectiveDate">
				<mat-datepicker-toggle matSuffix [for]="effectiveDate">
				</mat-datepicker-toggle>
				<mat-datepicker #effectiveDate></mat-datepicker>
				<!-- <mat-error *ngIf="item.get('effectiveDate').hasError('matDatepickerParse')">
					Nhập Ngày Theo Mẫu DD/MM/YYYY(05/12/1991)</mat-error> -->
			</mat-form-field>
			<mat-form-field *ngIf="dataItemGroup?.value?.status == 'duong_nhiem'" appearance="outline"
				class="full-width">
				<mat-label>Ngày Bắt Đầu</mat-label>
				<input matInput [matDatepicker]="fromDate" placeholder="DD/MM/YYYY" autocomplete="off"
					formControlName="fromDate">
				<mat-datepicker-toggle matSuffix [for]="fromDate">
				</mat-datepicker-toggle>
				<mat-datepicker #fromDate></mat-datepicker>
			</mat-form-field>
			<div *ngIf="dataItemGroup?.value?.status !== 'duong_nhiem'" fxLayout="row wrap">
				<div fxFlex.gt-xs="50" fxFlex="100" [ngStyle.gt-xs]="{'padding-right': '24px'}">
					<mat-form-field appearance="outline" class="full-width">
						<mat-label>Ngày Bắt Đầu</mat-label>
						<input matInput [matDatepicker]="fromDate" placeholder="DD/MM/YYYY" autocomplete="off"
							formControlName="fromDate">
						<mat-datepicker-toggle matSuffix [for]="fromDate">
						</mat-datepicker-toggle>
						<mat-datepicker #fromDate></mat-datepicker>
					</mat-form-field>
				</div>
				<div fxFlex.gt-xs="50" fxFlex="100">
					<mat-form-field appearance="outline" class="full-width">
						<mat-label>Ngày Kết Thúc</mat-label>
						<input matInput [matDatepicker]="toDate" placeholder="DD/MM/YYYY" autocomplete="off"
							formControlName="toDate">
						<mat-datepicker-toggle matSuffix [for]="toDate">
						</mat-datepicker-toggle>
						<mat-datepicker #toDate></mat-datepicker>
					</mat-form-field>
				</div>
			</div>
			<mat-form-field appearance="outline" class="full-width">
				<mat-label>Người Bổ Nhiệm</mat-label>
				<se-autocomplete-simple [required]="false" [formControlName]="'appointerName'" 
					[optgroup]="false" [placeHolder]="'Tìm theo tên...'" [keyTitle]="'name'" [keyValueEmit]="'name'"
					[keyValue]="'id'" [autocomplete]="true" [items]="clergysList"
					(valueChangeSelect)="valueChangeAutocomplete($event,'appointerName')">
				</se-autocomplete-simple>
			</mat-form-field>
		</form>
	</div>
	<div class="btn-dialog-actions" fxLayout="row" fxLayoutAlign="start center">
		<span fxFlex></span>
		<a mat-button (click)="closeDialog()" color="default">Hủy</a>
		<div class="btn-save-process">
			<button mat-flat-button color="primary" [disabled]="dataProcessing" aria-label="Save"
				(click)="onSaveItem()">Lưu</button>
			<mat-spinner [diameter]="24" *ngIf="dataProcessing"></mat-spinner>
		</div>
	</div>
</mat-dialog-content>