<h2 mat-dialog-title>{{title}}</h2>
<mat-dialog-content>
	<div class="content-dialog content-dialog--minHeight">
		<form class="form-horizontal" novalidate [formGroup]="dataItemGroup" autocomplete="off">
			<div fxLayout="column">
				<mat-form-field appearance="outline">
					<mat-label>Tên</mat-label>
					<input matInput required formControlName="name" autocomplete="off">
				</mat-form-field>
				<mat-form-field appearance="outline" class="full-width">
					<mat-label>Mô Tả</mat-label>
					<textarea matInput rows="3" formControlName="description"></textarea>
				</mat-form-field>
				<mat-form-field *ngIf="typeGroup != 'giao_hat'" appearance="outline" class="full-width">
					<mat-label>Giáo Hạt</mat-label>
					<se-autocomplete-simple [required]="false" [formControlName]="'groupID'" [optgroup]="false"
						[placeHolder]="'Giáo Hạt'" [keyTitle]="'name'" [keyValue]="'id'" [keyValueEmit]="'id'"
						[autocomplete]="false" [items$]="groupList$">
					</se-autocomplete-simple>
				</mat-form-field>
				<se-editor-control formControlName="content"></se-editor-control>
				<mat-slide-toggle formControlName="status">Ẩn / Hiện</mat-slide-toggle>
			</div>
		</form>
	</div>
	<div class="btn-dialog-actions" fxLayout="row" fxLayoutAlign="start center">
		<span fxFlex></span>
		<a mat-button (click)="closeDialog()" color="default">Hủy</a>
		<div class="btn-save-process">
			<button mat-flat-button [disabled]="dataProcessing || saveAction === 'delete' || target !== 'edit'"
				aria-label="Delete" (click)="deleteItem()" color="warn">Xóa</button>
			<mat-spinner [diameter]="24" *ngIf="saveAction === 'delete'"></mat-spinner>
		</div>
		<div class="btn-save-process">
			<button mat-flat-button color="primary"
				[disabled]="!hasChangedGroup || !dataItemGroup.valid || dataProcessing || saveAction === 'save'"
				aria-label="Save" (click)="onSaveItem()">{{textSave}}</button>
			<mat-spinner [diameter]="24" *ngIf="saveAction === 'save'"></mat-spinner>
		</div>
	</div>
</mat-dialog-content>