<div class="se-settings-container wrapper">

    <!-- Header -->
    <div fxLayout="row" fxLayoutAlign="center">
        <div fxFlex="100">
            <div fxLayout="row" fxLayoutAlign="center center" class="account-header" fxHide.lt-md>
                <!-- <mat-icon class="account-header-icon" svgIcon="ic_groups_department"></mat-icon> -->
                <h2 class="account-title">Danh Mục</h2>
            </div>
            <p class="account-subtitle">Quản lý danh Danh Mục</p>
        </div>
    </div>

    <!-- Main Container -->
    <div fxLayout="row" fxLayoutAlign="center">
        <div fxFlex.gt-md="840px" fxFlex="100">

            <!-- Data -->
            <mat-card class="outline-list-card">
                <mat-toolbar class="search-toolbar" fxLayout.xs="column" fxLayout="row" fxLayoutAlign="start center">
                    <div fxFlex="65">
                        <div fxLayout="row" fxLayoutAlign="start center">
                            <mat-icon class="search-icon" svgIcon="ic_search_48px"></mat-icon>
                            <input placeholder="Tìm dữ liệu theo tên" [readonly]="spinerLoading"
                                [formControl]="txtSearch">
                        </div>
                    </div>
                    <div fxFlex="35">
                        <span fxFlex></span>
                        <button mat-icon-button *ngIf="txtSearch?.value?.length > 0" (click)="clearSearch()"
                            aria-label="Close" matTooltip="Xoá" class="mat-icon-button-search-close">
                            <mat-icon class="material-icons" svgIcon="ic_close_48px"></mat-icon>
                        </button>
                        <button style="border-radius: 8px;" mat-stroked-button color="primary" aria-label="Thêm Mới" (click)="onAddItem()">
                            <span>Thêm Mới</span>
                        </button>
                        <!-- [disabled]="noData" -->
                    </div>
                </mat-toolbar>
                <mat-divider></mat-divider>
                <mat-card-content class="mh-400">
                    <div *ngIf="spinerLoading" fxLayout="column" fxLayoutAlign="center center" style="margin: 48px 0;">
                        <mat-spinner diameter="70"></mat-spinner>
                    </div>
                    <div *ngIf="!spinerLoading && noData" fxLayout="column" fxLayoutAlign="center center"
                        style="margin: 48px 0;">
                        <ng-container *ngIf="searchValue?.length >0;else noDataView" class="se-message-text">Không có dữ
                            liệu</ng-container>
                        <ng-template #noDataView>
                            <h2 *ngIf="noData" class="mat-h2">Chưa có dữ liệu</h2>
                            <button *ngIf="noData" (click)="onAddItem()" mat-flat-button color="primary"
                                aria-label="Thêm Mới">
                                Thêm Mới
                            </button>
                        </ng-template>
                    </div>
                    <ng-container *ngIf="searchValue?.length >0;else treeDataView">
                        <mat-nav-list *ngIf="!spinerLoading && !noData" class="list-categories">
                            <mat-list-item class="tree-item" *ngFor="let node of arrData; trackBy: trackByFn;">
                                <!-- <mat-icon mat-list-icon class="active" matTooltip="Hoạt Động"
                                    svgIcon="ic_toggle_on"></mat-icon> -->
                                <h4 mat-line>{{node?.name}}</h4>
                                <span fxFlex></span>
                                <button *ngIf="node?.level < 3" mat-icon-button
                                    (click)="$event.stopPropagation();onAddItemForNote(node)" matTooltip="Thêm"
                                    matTooltipPosition="above" cdkDragHandle>
                                    <mat-icon svgIcon="ic_add_48px"></mat-icon>
                                </button>
                                <button mat-icon-button (click)="$event.stopPropagation();onChangeData(node)"
                                    matTooltip="Sửa" matTooltipPosition="above" cdkDragHandle>
                                    <mat-icon svgIcon="ic_edit_note_24dp"></mat-icon>
                                </button>
                                <button mat-icon-button (click)="$event.stopPropagation();deleteItem(node)"
                                    matTooltip="Xóa" matTooltipPosition="above" cdkDragHandle>
                                    <mat-icon svgIcon="ic_delete_48px"></mat-icon>
                                </button>
                                <button class="btn-move-action" mat-icon-button (click)="$event.stopPropagation();"
                                    matTooltip="Di Chuyển" matTooltipPosition="above" cdkDragHandle>
                                    <mat-icon svgIcon="ic_open_with_48dp"></mat-icon>
                                </button>
                            </mat-list-item>
                        </mat-nav-list>
                    </ng-container>
                    <ng-template #treeDataView>
                        <!-- cdkDropList (cdkDropListDropped)="drop($event)" -->
                        <mat-tree *ngIf="!spinerLoading && !noData" [dataSource]="dataSource" [treeControl]="treeControl" class="list-categories">
                            <!-- cdkDrag
                                [cdkDragData]="node" (mouseenter)="dragHover(node)" (mouseleave)="dragHoverEnd()"
                                (cdkDragStarted)="dragStart()" (cdkDragReleased)="dragEnd()" -->
                            <mat-tree-node *matTreeNodeDef="let node" matTreeNodeToggle matTreeNodePadding>
                                <button mat-icon-button disabled></button>
                                <div class="tree-item" [ngClass]="'level-'+node?.level" fxLayout="row"
                                    fxLayoutAlign="start center">
                                    <h4 mat-line>{{node?.name}}</h4>
                                    <span fxFlex></span>
                                    <button *ngIf="node?.level < 3" mat-icon-button
                                        (click)="$event.stopPropagation();onAddItemForNote(node)" matTooltip="Thêm"
                                        matTooltipPosition="above" cdkDragHandle>
                                        <mat-icon svgIcon="ic_add_48px"></mat-icon>
                                    </button>
                                    <button mat-icon-button (click)="$event.stopPropagation();onChangeData(node)"
                                        matTooltip="Sửa" matTooltipPosition="above" cdkDragHandle>
                                        <mat-icon svgIcon="ic_edit_note_24dp"></mat-icon>
                                    </button>
                                    <button mat-icon-button (click)="$event.stopPropagation();deleteItem(node)"
                                        matTooltip="Xóa" matTooltipPosition="above" cdkDragHandle>
                                        <mat-icon svgIcon="ic_delete_48px"></mat-icon>
                                    </button>
                                    <!-- <button class="btn-move-action" mat-icon-button (click)="$event.stopPropagation();"
                                        matTooltip="Di Chuyển" matTooltipPosition="above" cdkDragHandle>
                                        <mat-icon svgIcon="ic_open_with_48dp"></mat-icon>
                                    </button> -->
                                    <!-- <p mat-line>Link: {{node?.link }}</p> -->
                                </div>
                            </mat-tree-node>
                            <!-- cdkDrag
                            [cdkDragData]="node" (mouseenter)="dragHover(node)" (mouseleave)="dragHoverEnd()"
                            (cdkDragStarted)="dragStart()" (cdkDragReleased)="dragEnd()" -->
                            <mat-tree-node *matTreeNodeDef="let node;when: hasChild" matTreeNodePadding>
                                <button mat-icon-button matTreeNodeToggle (click)="expansionModel.toggle(node.id)"
                                    [attr.aria-label]="'toggle ' + node.name">
                                    <mat-icon class="mat-icon-rtl-mirror"
                                        [svgIcon]="treeControl.isExpanded(node) ? 'ic_expand_more_48px' : 'ic_chevron_right_48px'">
                                    </mat-icon>
                                </button>
                                <div class="tree-item" [ngClass]="'level-'+node?.level" fxLayout="row"
                                    fxLayoutAlign="start center">
                                    <h4 mat-line>{{node?.name}}</h4>
                                    <span fxFlex></span>
                                    <button *ngIf="node?.level < 3" mat-icon-button
                                        (click)="$event.stopPropagation();onAddItemForNote(node)" matTooltip="Thêm"
                                        matTooltipPosition="above" cdkDragHandle>
                                        <mat-icon svgIcon="ic_add_48px"></mat-icon>
                                    </button>
                                    <button mat-icon-button (click)="$event.stopPropagation();onChangeData(node)"
                                        matTooltip="Sửa" matTooltipPosition="above" cdkDragHandle>
                                        <mat-icon svgIcon="ic_edit_note_24dp"></mat-icon>
                                    </button>
                                    <button mat-icon-button (click)="$event.stopPropagation();deleteItem(node)"
                                        matTooltip="Xóa" matTooltipPosition="above" cdkDragHandle>
                                        <mat-icon svgIcon="ic_delete_48px"></mat-icon>
                                    </button>
                                    <!-- <button class="btn-move-action" mat-icon-button (click)="$event.stopPropagation();"
                                        matTooltip="Di Chuyển" matTooltipPosition="above" cdkDragHandle>
                                        <mat-icon svgIcon="ic_open_with_48dp"></mat-icon>
                                    </button> -->
                                    <!-- <p mat-line>Link: {{node?.link }}</p> -->
                                </div>
                            </mat-tree-node>
                        </mat-tree>
                    </ng-template>
                </mat-card-content>
            </mat-card>
        </div>
    </div>
</div>