<div class="search-list-container container-fluid">
    <div class="container-xl">
        <div fxLayout="row" fxLayoutAlign="start center" [formGroup]="ctrlFormGroup">
            <h2>{{title}}</h2>
            <select class="form-select" formControlName="groupID">
                <option value="all">Chọn giáo hạt</option>
                <option *ngFor="let item of arrGroups" [value]="item.id">
                    {{item.name}}</option>
            </select>
            <select class="form-select" *ngIf="target == 'clergys'" formControlName="position">
                <option value="all">Chọn chức vụ</option>
                <option *ngFor="let item of positionList" [value]="item.code">
                    {{item.name}}</option>
            </select>
            <input formControlName="name" class="form-control" type="text" placeholder="Nhập tên">
            <input *ngIf="target == 'organizations'" formControlName="masses" class="form-control" type="text" mask="Hh:m0" placeholder="Nhập giờ lễ">
            <button (click)="onSearch()" type="button" color="default" mat-flat-button>Tìm kiếm</button>
        </div>
    </div>
</div>