<section class="control-footer">
    <div class="container-xl">
        <div class="row">
            <div class="col-3">
                <div class="footer-logo-wrap">
                    <img class="logo" [src]="pictureUrl" />
                    <div class="title-container" fxLayout="column" fxLayoutAlign="center center">
                        <h2 class="title">GIÁO PHẬN PHÚ CƯỜNG</h2>
                        <div fxLayout="column" fxLayoutAlign="center center">
                            <span class="name">Ban Truyền Thông Giáo Phận</span>
                            <span class="address">104 Lạc Long Quân, Phường Phú Cường, Tp. Thủ Dầu Một,</span>
                            <span class="province">Tỉnh Bình Dương</span>
                        </div>
                        <div class="contact" fxLayout="column" fxLayoutAlign="center center">
                            <span class="phone">+84 274 730 7788</span>
                            <span class="email">giaophanphucuong@gmail.com</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-9">
                <div class="row">
                    <div class="col-4">
                        <div class="categories">
                            <h2>TAG TIÊU ĐIỂM</h2>
                            <div fxLayout="row wrap" fxLayoutAlign="start center">
                                <span class="tag">ANIMAL</span>
                                <span class="tag">ASIDE</span>
                                <span class="tag">BUSINESS</span>
                                <span class="tag">GALLERY THUMBNAIL</span>
                                <span class="tag">LINK</span>
                                <span class="tag">POST FORMAT</span>
                                <span class="tag">ASIDE</span>
                                <span class="tag">BUSINESS</span>
                                <span class="tag">GALLERY THUMBNAIL</span>
                                <span class="tag">LINK</span>
                                <span class="tag">POST FORMAT</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-4">
                        <div class="categories">
                            <h2>ỨNG DỤNG</h2>
                            <div class="item-app">
                                <div fxLayout="row">
                                    <img class="img-app" [src]="itemApp" />
                                    <div fxLayout="column">
                                        <h3>APP SÁCH NÓI CÔNG GIÁO</h3>
                                        <ul>
                                            <li><a href="#">- Download từ Apple Store</a></li>
                                            <li><a href="#">- Download từ CH Play</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-4">
                        <div class="categories">
                            <h2>NỐI KẾT</h2>
                            <mat-list>
                                <mat-list-item class="mg-list-item">
                                    <span mat-line class="list-item-title">TGP Sài Gòn</span>
                                </mat-list-item>
                                <mat-divider></mat-divider>
                                <mat-list-item class="mg-list-item">
                                    <span mat-line class="list-item-title">TGP Sài Gòn</span>
                                </mat-list-item>
                                <mat-divider></mat-divider>
                                <mat-list-item class="mg-list-item">
                                    <span mat-line class="list-item-title">TGP Sài Gòn</span>
                                </mat-list-item>
                                <mat-divider></mat-divider>
                                <mat-list-item class="mg-list-item">
                                    <span mat-line class="list-item-title">TGP Sài Gòn</span>
                                </mat-list-item>
                                <mat-divider></mat-divider>
                                <mat-list-item class="mg-list-item">
                                    <span mat-line class="list-item-title">TGP Sài Gòn</span>
                                </mat-list-item>
                                <mat-divider></mat-divider>
                                <mat-list-item class="mg-list-item">
                                    <span mat-line class="list-item-title">TGP Sài Gòn</span>
                                </mat-list-item>
                                <mat-divider></mat-divider>
                            </mat-list>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</section>

<section class="copyright">
    <div class="container-fluid">
        <h4>
            Copyright 2023 By Giáo Phận Phú Cường, All rights reserved. Powered by Catholic.App.Team
        </h4>
    </div>
</section>