<h2 mat-dialog-title>{{title}} Tag</h2>
<mat-dialog-content>
    <div class="content-dialog content-dialog--minHeight">
        <form class="form-horizontal" novalidate [formGroup]="dataItemGroup" autocomplete="off">
            <div fxLayout="column">
                <mat-form-field appearance="outline">
                    <mat-label>Tên</mat-label>
                    <input matInput required formControlName="name" autocomplete="off" se-pure-words>
                    <!-- <mat-hint>{{dataItemGroup?.value?.link}}</mat-hint> -->
                </mat-form-field>
                <mat-form-field appearance="outline">
                    <mat-label>Lời Chúa</mat-label>
                    <se-autocomplete-simple [required]="false" [formControlName]="'_parableID'" [optgroup]="false"
                        [placeHolder]="'Nhập Tag'" [keyTitle]="'quotation'" [keyValue]="'id'" [autocomplete]="true"
                        [items]="arrListParable" (onSelectItem)="onSelectItem($event,'parableID')">
                    </se-autocomplete-simple>
                </mat-form-field>
                <mat-form-field appearance="outline" class="full-width">
                    <mat-label>Mô tả</mat-label>
                    <input matInput formControlName="quotation" autocomplete="off">
                </mat-form-field>
                <mat-form-field appearance="outline" class="full-width">
                    <mat-label>Ngày</mat-label>
                    <input autocomplete="off" matInput placeholder="DD/MM/YYYY" [matDatepicker]="date"
                        formControlName="date">
                    <mat-datepicker-toggle matSuffix [for]="date"></mat-datepicker-toggle>
                    <mat-datepicker #date></mat-datepicker>
                    <mat-error *ngIf="dataItemGroup.get('date').hasError('matDatepickerParse')">Enter dates in DD/MM/YYYY  format</mat-error>
                </mat-form-field>
                <mat-slide-toggle formControlName="status">Ẩn / Hiện</mat-slide-toggle>
            </div>
        </form>
    </div>
    <div class="btn-dialog-actions" fxLayout="row" fxLayoutAlign="start center">
        <span fxFlex></span>
        <a mat-button (click)="closeDialog()" color="default">Hủy</a>
        <div class="btn-save-process">
            <button mat-flat-button [disabled]="dataProcessing || saveAction === 'delete' || target !== 'edit'"
                aria-label="Delete" (click)="deleteItem()" color="warn">Xóa</button>
            <mat-spinner [diameter]="24" *ngIf="saveAction === 'delete'"></mat-spinner>
        </div>
        <div class="btn-save-process">
            <button mat-flat-button color="primary"
                [disabled]="!hasChangedGroup || !dataItemGroup.valid || dataProcessing || saveAction === 'save'"
                aria-label="Save" (click)="onSaveItem()">{{textSave}}</button>
            <mat-spinner [diameter]="24" *ngIf="saveAction === 'save'"></mat-spinner>
        </div>
    </div>
</mat-dialog-content>