<div class="organization-view" fxLayoutAlign="center start">
    <div class="organization-view-container" fxLayout="row" fxLayoutAlign="center start">
        <div class="organization-view-container-l" fxLayout="column" fxLayoutAlign="center center" fxFlex.gt-xs="35"
            fxFlex="100" [ngStyle.gt-xs]="{'padding-right': '24px'}">
            <div class="avatar-img">
                <img [src]="localItem?.pictureUrl" />
            </div>
            <span class="display-name">{{localItem?.displayName}}</span>
            <div class="content mrt-24" fxLayout="column" fxLayoutAlign="center start" fxLayoutGap="6">
                <!-- <span class="name">{{localItem?.name}}</span> -->
                <!-- <div *ngIf="entityType == 'group'" class="full-width" fxLayout="column" fxLayoutAlign="center start" fxLayoutGap="12">
                    <span>Vị trí: <strong>{{localItem?.anniversary}}</strong></span>
                    <span *ngIf="localItem?.type == 'giao_hat'">Tổng số giáo xứ: <strong>{{localItem?.groupName}}</strong></span>
                    <span *ngIf="localItem?.type == 'giao_hat'">Linh mục quản hạt: <strong>{{localItem?.email}}</strong></span>
                    <span>Email: <strong>{{localItem?.email}}</strong></span>
                    <span>Địa chỉ: <strong>{{localItem?.address}}</strong></span>
                </div> -->
                <div class="full-width" fxLayout="column" fxLayoutAlign="center start" fxLayoutGap="12">
                    <span>Tước hiệu: <strong>{{localItem?.anniversary}}</strong></span>
                    <span *ngIf="localItem?.parentName">{{localItem?.parentTypeView}}: <strong>{{localItem?.parentName}}</strong></span>
                    <span>{{localItem?.groupTypeView}}: <strong>{{localItem?.groupName}}</strong></span>
                    <span>Số điện thoại: <strong>{{localItem?.email}}</strong></span>
                    <span>Email: <strong>{{localItem?.email}}</strong></span>
                    <span>Địa chỉ: <strong>{{localItem?.address}}</strong></span>
                    <span>Dân số: <strong>{{localItem?.population | numberFormat: "."}}</strong></span>
                    <span>Giáo dân: <strong>{{localItem?.memberCount | numberFormat: "."}}</strong> {{localItem?.memberCountPercent}}</span>
                </div>
                <div class="masseses-container mrt-24" fxLayout="column" fxLayoutAlign="start start" fxLayoutGap="12">
                    <span class="title">GIỜ LỄ</span>
                    <ng-container *ngIf="localItem?.arrMasseses?.length > 0">
                        <span
                            *ngFor="let masses of localItem.arrMasseses">{{masses.name}}: <strong>{{masses.data}}</strong>
                        </span>
                    </ng-container>
                    <ng-container *ngIf="localItem?.arrMasseses?.length == 0">
                        Chưa cập nhật
                    </ng-container>
                </div>
                <div class="anniversaries-container mrt-24" fxLayout="column" fxLayoutAlign="start start">
                    <span class="title">SỰ KIÊN</span>
                    <ng-container *ngIf="arrAnniversaries?.length > 0">
                        <div class="full-width" fxLayout="column" fxLayoutAlign="start start">
                            <ng-template ngFor let-data let-last="last" [ngForOf]="arrAnniversaries">
                                <div [ngClass]="{'mrb-12': !last}" class="full-width" fxLayout="column"
                                    fxLayoutAlign="start start">
                                    <span
                                        style="font-size: 20px;font-weight: 500;color: rgb(0, 170, 170);"><strong>{{data?.name}}</strong></span>
                                    <span>ngày <strong>{{data?.dateView}}</strong></span>
                                    <!-- <span>tại <strong>{{data?.locationName}}</strong></span> -->
                                    <span>{{data?.descriptionView}}</span>
                                    <mat-divider class="full-width"></mat-divider>
                                </div>
                            </ng-template>
                        </div>
                    </ng-container>
                    <ng-container *ngIf="arrAnniversaries?.length == 0">
                        <span class="mrb-24">Chưa cập nhật</span>
                    </ng-container>
                </div>
                <div class="appointments-container" fxLayout="column" fxLayoutAlign="start start">
                    <span class="title">DANH SÁCH LINH MỤC ĐÃ PHỤC VỤ</span>
                    <se-list-appointments-organization [entityType]="'organization'"
                        [entityID]="ID"  [filter]="filterAppointments"></se-list-appointments-organization>
                </div>
            </div>
        </div>
        <div class="organization-view-container-r" fxFlex.gt-xs="75" fxFlex="100">
            <div class="content">
                <se-clergies-appointment [entityID]="ID" [entityType]="'organization'"></se-clergies-appointment>
                <se-editor-control [formControl]="editorFormCtrl"
                [config]="{readonly: true,toolbar: false}"></se-editor-control>
            </div>
        </div>
    </div>
</div>