<div fxLayout="row wrap">
    <ng-template ngFor let-data let-last="last" [ngForOf]="arrAppointments">
        <!-- <span>Tác giả: </span> -->
        <div class="mrb-12" fxFlex="50" fxLayout="column" fxLayoutAlign="space-between center">
            <img height="100" [src]="data?.pictureUrl" alt="Avatar">
            <span class="mrt-12" fxLayout="column" fxLayoutAlign="center center">
                <span>{{data?.positionView}}</span>
                <strong>{{data?.clergyName}}</strong>
            </span>
        </div>
    </ng-template>
</div>