<div class="container-fluid events-daily-container">
    <div class="container-xl">
        <div class="events-daily-wrap">
            <owl-carousel-o [options]="customOptions" (changed)="getData($event)">
                <ng-container *ngFor="let item of dataItems">
                    <ng-template carouselSlide [id]="item.id">
                        <figure class="item-review figure">
                            <div class="figure-header">
                                <h2 class="title">{{item.dayTilte}}</h2>
                                <h3 class="date">{{item.dateView}}</h3>
                                <span class="quotation">{{item.quotation}}</span>
                            </div>
                            <figcaption class="figure-caption">
                                <mat-icon class="icon-quote" svgIcon="icon_quote"></mat-icon>
                                <div class="description">
                                    <p class="metaDescription">{{item.metaDescription}}</p>
                                </div>
                                <a class="more">Xem chi tiết</a>
                            </figcaption>
                            <div class="figure-content">
                                <span class="title rip">Lễ giỗ</span>
                                <span class="sub">- 1 năm Linh mục Phêrô Nguyễn Văn An</span>
                                <span class="sub">- 3 năm Linh mục Phêrô Nguyễn Văn Ba</span>
                                <span class="title">Kỷ niệm thụ phong linh mục</span>
                                <span class="sub">- 1 năm Linh mục Phêrô Nguyễn Văn An</span>
                                <span class="sub">- 3 năm Linh mục Phêrô Nguyễn Văn Ba</span>
                                <span class="title">Mừng sinh nhật</span>
                                <span class="sub">- Linh mục Phêrô Nguyễn Văn An</span>
                                <span class="sub">- Linh mục Phêrô Nguyễn Văn Ba</span>
                            </div>
                        </figure>
                    </ng-template>
                </ng-container>
            </owl-carousel-o>
        </div>
    </div>
</div>