<div class="container-fluid events-daily-container">
    <div class="container-xl">
        <div class="events-daily-wrap">
            <ng-container *ngIf="spinnerLoading">
                <div class="item-review item-review--spinner">
                    <mat-spinner [diameter]="40"></mat-spinner>
                </div>
            </ng-container>
            <owl-carousel-o #carouselSlide [options]="customOptions">
                <ng-container *ngFor="let item of dataItems">
                    <ng-template carouselSlide [id]="item.id">
                        <figure *ngIf="!spinnerLoading" class="item-review figure">
                            <div class="figure-header">
                                <h2 class="title">{{dateView[currentIndex]?.dayTilte}}</h2>
                                <h3 class="date">{{dateView[currentIndex].dateView}}</h3>
                                <h3 *ngIf="!noParables" class="quotation">{{parablesView[currentIndex].name}} ({{parablesView[currentIndex].code}})</h3>
                                
                            </div>
                            <figcaption *ngIf="!noParables" class="figure-caption">
                                <mat-icon class="icon-quote" svgIcon="icon_quote"></mat-icon>
                                <div class="description">
                                    <p *ngIf="!noParables" class="metaDescription">{{parablesView[currentIndex].quotation}}</p>
                                </div>
                                <a class="more">Xem chi tiết</a>
                            </figcaption>
                            <figcaption *ngIf="noParables" class="figure-caption">
                                <div class="description">
                                    <p class="metaDescription">Chưa có dữ liệu Lời Chúa</p>
                                </div>
                            </figcaption>
                            <div *ngIf="anniversaries?.length > 0" class="figure-content mrt-24">
                                <span class="title">SỰ KIỆN TRONG NGÀY</span>
                                <span *ngFor="let item of anniversaries; let i=index" class="sub"><strong>{{i+1}}.</strong> {{item.title}}</span>
                                <!-- <span class="sub">- 3 năm Linh mục Phêrô Nguyễn Văn Ba</span>
                                <span class="title">Kỷ niệm thụ phong linh mục</span>
                                <span class="sub">- 1 năm Linh mục Phêrô Nguyễn Văn An</span>
                                <span class="sub">- 3 năm Linh mục Phêrô Nguyễn Văn Ba</span>
                                <span class="title">Mừng sinh nhật</span>
                                <span class="sub">- Linh mục Phêrô Nguyễn Văn An</span>
                                <span class="sub">- Linh mục Phêrô Nguyễn Văn Ba</span> -->
                            </div>
                        </figure>
                    </ng-template>
                </ng-container>
            </owl-carousel-o>
        </div>
    </div>
    <div class="button-actions">
        <button [disabled]="spinnerLoading" (click)="carouselSlide.prev();onPrev()" mat-icon-button>
            <mat-icon svgIcon="ic_arrow_back_48dp"></mat-icon>
        </button>
        <input (click)="picker.open()" [matDatepicker]="picker" readonly [formControl]="dateControl" class="input-date"
            type="text" placeholder="Nhập tên">
        <!-- <input (click)="picker.open()" [matDatepicker]="picker" placeholder="DD/MM/YYYY" autocomplete="off" [formControl]="dateControl"> -->
        <mat-datepicker #picker></mat-datepicker>
        <button [disabled]="spinnerLoading" (click)="carouselSlide.next();onNext()" mat-icon-button>
            <mat-icon style="transform: rotate(180deg);" svgIcon="ic_arrow_back_48dp"></mat-icon>
        </button>
    </div>
</div>