<h2 mat-dialog-title *ngIf="header">{{ header }}</h2>
<mat-dialog-content>
	<div class="content-dialog">
		<div fxLayout="column"> <span [innerHTML]="confirmMessage | safeHtml"></span></div>
	</div>
	<div class="btn-dialog-actions" fxLayout="row" fxLayoutAlign="start center">
		<span fxFlex></span>
		<a mat-button [color]="colorCancel" (click)="saveData(actionCancel)">
			{{ cancelBtn }}
		</a>
		<div class="btn-save-process">
			<button mat-flat-button [color]="colorSubmit" [attr.aria-label]="submitBtn"
				(click)="saveData(actionSubmit)">
				{{ submitBtn }}
			</button>
		</div>
	</div>
</mat-dialog-content>