<h2 mat-dialog-title *ngIf="header">{{ header }}</h2>
<mat-dialog-content>
	<div class="content-dialog">
		<div fxLayout="column"> <span [innerHTML]="confirmMessage | safeHtml"></span></div>
		<mat-form-field *ngIf="valueType == 'date'" appearance="outline" class="full-width">
			<mat-label>{{lableCtrl}}</mat-label>
			<input matInput [matDatepicker]="datePic" placeholder="DD/MM/YYYY" autocomplete="off"
				[formControl]="formCtrl" [required]="requireCtrl">
			<mat-datepicker-toggle matSuffix [for]="datePic">
			</mat-datepicker-toggle>
			<mat-datepicker #datePic></mat-datepicker>
		</mat-form-field>
		<mat-form-field *ngIf="valueType == 'text'" appearance="outline" class="full-width">
			<mat-label>{{lableCtrl}}</mat-label>
			<input matInput [placeholder]="lableCtrl" autocomplete="off" [formControl]="formCtrl"
				[required]="requireCtrl">
		</mat-form-field>
		<mat-form-field *ngIf="valueType == 'select'" appearance="outline" class="full-width">
			<mat-label>{{lableCtrl}}</mat-label>
			<mat-select [formControl]="formCtrl">
				<mat-option *ngFor="let item of arrFromList" [value]="item.value">
					{{item.name}}
				</mat-option>
			</mat-select>
		</mat-form-field>
	</div>
	<div class="btn-dialog-actions" fxLayout="row" fxLayoutAlign="start center">
		<span fxFlex></span>
		<a mat-button [color]="colorCancel" (click)="saveData(actionCancel)">
			{{ cancelBtn }}
		</a>
		<div class="btn-save-process">
			<button mat-flat-button [color]="colorSubmit" [attr.aria-label]="submitBtn" [disabled]="formCtrl?.invalid"
				(click)="saveData(actionSubmit)">
				{{ submitBtn }}
			</button>
		</div>
	</div>
</mat-dialog-content>