<mat-sidenav-container class="admin-container">
	<!-- Primary Toolbar -->
	<mat-toolbar class="se-admin-toolbar" [ngClass]="{'open-sidenav':sidenav.opened}">
		<div class="logo-container" fxLayout="row" fxLayoutAlign="center center">
			<ng-template [ngIf]="router.url != '/login'">
				<button mat-icon-button color="default" aria-label="Activity" (click)="sidenav.toggle()"
					matTooltip="Đóng Menu">
					<mat-icon svgIcon="ic_menu_open_24px"></mat-icon>
				</button>
				<!-- <img class="logo" [src]="pictureUrl" /> -->
				<div class="title-container" fxLayout="column" fxLayoutAlign="center start">
					<span class="title">{{title}}</span>
					<!-- <span class="sub-title">{{description}}</span> -->
				</div>
			</ng-template>
		</div>
		<span fxFlex></span>

		<!-- <mat-menu #appMenu="matMenu" [overlapTrigger]="false" xPosition="before">
			<button mat-menu-item [routerLink]="['/wellcome']">
				<mat-icon class="app-icon" svgIcon="home_24px"></mat-icon>
				<span>Trang Chủ</span>
			</button>
			<button mat-menu-item [routerLink]="['/my-account']">
				<mat-icon class="app-icon" svgIcon="ic_user_account"></mat-icon>
				<span>Trang Của Tôi</span>
			</button>
			<button mat-menu-item [routerLink]="['/manage']">
				<mat-icon class="app-icon" svgIcon="maps_home_work_48dp"></mat-icon>
				<span>Quản Lý</span>
			</button>
			<button mat-menu-item [routerLink]="['/settings']">
				<mat-icon class="app-icon" svgIcon="ic_settings_48px"></mat-icon>
				<span>Cài Đặt</span>
			</button>
			<button mat-menu-item [routerLink]="['/users']">
				<mat-icon class="app-icon" svgIcon="ic_manage_accounts_48dp"></mat-icon>
				<span>Người Dùng</span>
			</button>
		</mat-menu> -->


		<!-- Account Dropdown -->
		<div fxLayout="row" fxLayoutAlign="center center">
			<button *ngIf="router.url != '/wellcome' && router.url != '/login'" mat-icon-button
				[matMenuTriggerFor]="account" matTooltip="Tài Khoản">
				<!-- <img [src]="userInfo?.pictureUrl" class="mat-icon-24" /> -->
				<mat-icon class="mat-icon-32" svgIcon="ic_person_48dp">
				</mat-icon>
				<!-- <mat-icon class="mat-icon-32" svgIcon="ic_account_circle_white_24px"
				*ngIf="dark">
			</mat-icon> -->
				<!-- <div class="toolbar-avatar">
					<img [src]="currentUser?.pictureUrl" alt="Avatar" mat-list-avatar>
				</div> -->
			</button>
			<!-- <mat-icon class="mat-icon-32"
				style="position: relative;z-index: 2;margin-top: 18px;margin-left: 8px;color: rgb(0, 17, 252);"
				svgIcon="ic_arrow_drop_down_48dp"></mat-icon> -->
		</div>

		<button mat-icon-button *ngIf="router.url != '/wellcome' && router.url != '/login'" color="default"
			aria-label="Activity" (click)="alertsPanelMyAccount.toggle()" matTooltip="Activity">
			<mat-icon [matBadge]="iNotificationMyAccount" matBadgeColor="warn"
				[matBadgeHidden]="iNotificationMyAccount == 0" svgIcon="ic_notifications_24px"
				matBadgeSize="medium"></mat-icon>
		</button>


		<!-- Account Dropdown Menu-->
		<mat-menu #account="matMenu">
			<mat-nav-list>
				<mat-list-item [routerLink]="['/my-account/my-account-home']">
					<h6 mat-line>
						<b>{{currentUser?.name}}</b>
					</h6>
					<p class="mat-text-muted" mat-line>{{currentUser?.username}}</p>
					<img [src]="currentUser?.pictureUrl" alt="Avatar" mat-list-avatar />
				</mat-list-item>
			</mat-nav-list>
			<!--invertColors dark = (dark == true ? false : true)-->
			<button mat-menu-item [disabled]="isNullOrEmpty(currentUser?.id)">
				<mat-icon class="material-icons" svgIcon="ic_edit_note_24dp"></mat-icon>
				<span>Chỉnh Sửa Thông Tin</span>
			</button>
			<button mat-menu-item>
				<mat-icon class="material-icons" svgIcon="ic_exit_to_app_48px"></mat-icon>
				Đăng Xuất
			</button>
			<button mat-menu-item (click)="aboutProduct()">
				<mat-icon class="material-icons" svgIcon="ic_info_outline_48px"></mat-icon>
				Thông Tin Phần Mềm
			</button>
		</mat-menu>
	</mat-toolbar>
	<!--end edit with login form-->
	<mat-sidenav-container>
		<mat-sidenav #sidenav [style.transform]="sidenav.opened !== true ? 'translate3d(100%, 0, 0)' : 'none'"
			[ngStyle.lt-md]="{'width': '100%'}" [ngStyle.gt-sm]="{'width': '372px'}" [fixedInViewport]="true"
			[mode]="'side'" [position]="'start'" [opened]="true">
			<app-admin-navbar [opened]="sidenav.opened"></app-admin-navbar>
		</mat-sidenav>
		<!-- Notifications Sidenav -->
		<mat-sidenav #alertsPanelMyAccount
			[style.transform]="alertsPanelMyAccount.opened !== true ? 'translate3d(100%, 0, 0)' : 'none'"
			[ngStyle.lt-md]="{'width': '100%'}" [ngStyle.gt-sm]="{'width': '372px'}" [fixedInViewport]="true"
			[fixedTopGap]="80" [mode]="'side'" [position]="'end'" [opened]="toggleMyAccountPanel">
			<app-notifications></app-notifications>
		</mat-sidenav>
		<div class="btn-navbar-container" [ngClass]="{'open':sidenav.opened}" fxLayout="row"
			fxLayoutAlign="start center">
			<button (click)="sidenav.toggle()" class="btn-setting" fxLayout="row" fxLayoutAlign="start center"
				mat-icon-button>
				<mat-icon svgIcon="ic_arrow_back_48dp"></mat-icon>
			</button>
		</div>
		<router-outlet></router-outlet>
	</mat-sidenav-container>
</mat-sidenav-container>
<!-- </div> -->