.input-chip {
    position: relative;
    height: 32px;

    .mat-input-element {
        height: 32px;
        margin: 0 4px;
    }

    .mat-spinner {
        position: absolute;
        right: 0;
        top: 3px;
    }
}

::ng-deep {
    .mat-chip-list {
        @media screen and (max-width: 599px) {
            .mat-chip-list-wrapper {
                padding-right: 30px !important;
            }

            .mat-chip {
                span {
                    width: calc(100% - 25px);
                }
            }
        }
    }

    .mat-autocomplete-panel {
        @media screen and (max-width: 599px) {
            .mat-option {
                .mat-option-text {
                    div {
                        span {
                            width: 180px;
                            white-space: nowrap;
                            overflow: hidden;
                            text-overflow: ellipsis;
                        }
                    }
                }
            }
        }

        @media screen and (max-width: 320px) {
            .mat-option {
                .mat-option-text {
                    div {
                        span {
                            width: 150px;
                        }
                    }
                }
            }
        }
    }

    .chip-list-control {
        .mat-chip-list-wrapper {
            width: 100%;
        }
    }
}
