<div class="se-apps-users">
    <div class="wrapper">
        <!-- Table Container -->
        <div class="se-grid-tables">
            <mat-card class="table-card">
                <mat-toolbar *ngIf="!selection?.hasValue()" class="search-toolbar" fxLayout="row"
                    fxLayoutAlign="start center">
                    <div fxFlex="75">
                        <div fxLayout="row" fxLayoutAlign="start center">
                            <mat-icon class="ic_search material-icons" svgIcon="ic_search_48px"></mat-icon>
                            <input (click)="onSearchMode()" placeholder="Tìm kiếm theo tên" autocomplete="off"
                                [formControl]="searchControl">
                        </div>
                    </div>
                    <div fxFlex="25">
                        <span fxFlex></span>
                        <button mat-icon-button *ngIf="searchMode && searchControl.value !== ''" (click)="clearSearch()"
                            aria-label="Close" matTooltip="Xoá" class="mat-icon-button-search-close">
                            <mat-icon class="material-icons" svgIcon="ic_close_48px"></mat-icon>
                        </button>
                        <button mat-icon-button matTooltip="Thêm" aria-label="Thêm" [disabled]="dataProcessing"
                            (click)="addItem()">
                            <mat-icon class="material-icons" svgIcon="ic_create_48px"></mat-icon>
                        </button>
                        <!-- <button mat-icon-button matTooltip="Lọc" (click)="filter.toggle()" aria-label="Lọc">
                            <mat-icon class="material-icons" svgIcon="ic_filter_list_48px"></mat-icon>
                        </button> -->
                    </div>
                </mat-toolbar>

                <mat-toolbar *ngIf="selection?.selected?.length > 0" class="search-toolbar">
                    <h5 class="search-selected-text">{{itemSelectedTemplate}}</h5>
                    <span fxFlex></span>
                    <button mat-icon-button [disabled]="dataProcessing"
                        (click)="onUpdateStatus(selection?.selected[0],'inactive')"
                        *ngIf="selection?.selected?.length == 1 && selection?.selected[0]?.status !== 'inactive' && entityID == ''"
                        matTooltip="Tạm Ẩn">
                        <mat-icon class="material-icons" svgIcon="ic_toggle_off"></mat-icon>
                    </button>
                    <button mat-icon-button [disabled]="dataProcessing"
                        (click)="onUpdateStatus(selection?.selected[0],'active')"
                        *ngIf="selection?.selected?.length == 1 && selection?.selected[0]?.status == 'inactive'  && entityID == ''"
                        matTooltip="Mở Lại">
                        <mat-icon class="material-icons" svgIcon="ic_toggle_on"></mat-icon>
                    </button>
                    <button mat-icon-button [disabled]="dataProcessing"
                        *ngIf="selection?.selected?.length == 1  && entityID == ''" matTooltip="Xóa">
                        <mat-icon class="material-icons" svgIcon="ic_delete_48px"></mat-icon>
                    </button>
                </mat-toolbar>

                <mat-sidenav-container class="grid-container">
                    <!-- <mat-sidenav #filter mode="side" position="end" class="sidenav right">
                        <div class="filter-container">
                            <div fxLayout="column">
                                <h4 class="filter-subheadings">Last Session </h4>
                                <mat-divider style="position: absolute; bottom: 0; left: 0;"></mat-divider>
                            </div>
                        </div>
                    </mat-sidenav> -->
                    <div class="table-container" [ngClass]=" entityID ? '':'table-container--mediafiles'">
                        <table class="full-width" mat-table [dataSource]="dataSources" matSort multiTemplateDataRows
                            (matSortChange)="onSortChange($event)">

                            <!-- Checkbox Column -->
                            <ng-container matColumnDef="id" sticky>
                                <th mat-header-cell *matHeaderCellDef [ngStyle]="firstChildBorderStyles()">
                                    <mat-checkbox (change)="checkAllItems($event)" [disabled]="isAllDisabled()"
                                        [checked]="selection.hasValue() && isAllSelected()" aria-label="Bulk Select"
                                        matTooltip="Bulk Select"
                                        [indeterminate]="selection.hasValue() && !isAllSelected()">
                                    </mat-checkbox>
                                </th>
                                <td mat-cell *matCellDef="let row" [ngStyle]="firstChildBorderStyles()">
                                    <mat-checkbox (click)="$event.stopPropagation()" [disabled]="row.disabledItem"
                                        matTooltip="User Select" (change)="checkSingleItem($event,row)"
                                        aria-label="User Select" [checked]="selection.isSelected(row)">
                                    </mat-checkbox>
                                </td>
                            </ng-container>

                            <!-- Photo/Avatar Column -->
                            <!-- <ng-container matColumnDef="photo">
                                <th mat-header-cell *matHeaderCellDef > Photo </th>
                                <td mat-cell *matCellDef="let element">
                                    <div style="height: 100%;" fxLayoutAlign="center center">
                                        <div class="photo-container">
                                            <ng-container *ngIf="element?.pictureUrl?.length > 0; else defaultAvatar">
                                                <img [src]="element?.pictureUrl" mat-card-avatar alt="photo"
                                                    matTooltip="User Select" class="se-avatar" />
                                            </ng-container>
                                            <ng-template #defaultAvatar>
                                                <span class="avatar-name avatar-name--36">{{element?.title |
                                                    initialsName}}</span>
                                            </ng-template>
                                        </div>
                                    </div>
                                </td>
                            </ng-container> -->

                            <!-- Status Column -->
                            <ng-container matColumnDef="status">
                                <th mat-header-cell *matHeaderCellDef> Trạng Thái </th>
                                <td mat-cell *matCellDef="let dataItem">
                                    <div style="height: 100%;" fxLayout="row" fxLayoutAlign="center center">
                                        <div [ngClass]="dataItem.statusClass">
                                            {{dataItem.statusView}}
                                        </div>
                                        <!-- <div *ngIf="dataItem.status == 'Draft'" class="inactive-status">
                                            Nháp
                                        </div> -->
                                    </div>
                                </td>
                            </ng-container>

                            <ng-container matColumnDef="clergyName">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header> Tên Tu Sĩ </th>
                                <td mat-cell *matCellDef="let element"
                                    style="min-width: 300px; max-width: 300px; width: 300px"
                                    [matTooltipDisabled]="!(element?.clergyName?.length > 50)"
                                    [matTooltip]="element.clergyName">
                                    {{element.clergyName | truncate: 80}}
                                </td>
                            </ng-container>

                            <ng-container matColumnDef="entityName">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header> Nơi Nhận Nhiệm Vụ </th>
                                <td mat-cell *matCellDef="let dataItem">
                                    {{dataItem.entityName}}
                                </td>
                            </ng-container>

                            <ng-container matColumnDef="appointerName">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header> Người Thuyên Chuyển </th>
                                <td mat-cell *matCellDef="let dataItem">
                                    {{dataItem.appointerName}}
                                </td>
                            </ng-container>

                            <ng-container matColumnDef="effectiveDate">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header> Ngày Quyết Định </th>
                                <td mat-cell *matCellDef="let dataItem">
                                    {{dataItem.effectiveDateView}}
                                </td>
                            </ng-container>

                            <ng-container matColumnDef="fromDate">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header> Ngày Đến </th>
                                <td mat-cell *matCellDef="let dataItem">
                                    {{dataItem.fromDateView}}
                                </td>
                            </ng-container>

                            <ng-container matColumnDef="toDate">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header> Ngày ĐI </th>
                                <td mat-cell *matCellDef="let dataItem">
                                    {{dataItem.toDateView}}
                                </td>
                            </ng-container>

                            <ng-container matColumnDef="created">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header> Ngày Tạo </th>
                                <td mat-cell *matCellDef="let dataItem">
                                    {{dataItem.createdView}}
                                </td>
                            </ng-container>

                            <!-- <ng-container matColumnDef="visit">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header > Lượt Xem </th>
                                <td mat-cell *matCellDef="let dataItem">
                                    {{dataItem.visit}}
                                </td>
                            </ng-container> -->

                            <!-- Status Column -->
                            <!-- <ng-container matColumnDef="status">
                                <th mat-header-cell *matHeaderCellDef > Trạng Thái </th>
                                <td mat-cell *matCellDef="let dataItem">
                                    <div style="height: 100%;" fxLayoutAlign="center center">
                                        <div *ngIf="dataItem.status == 1" class="active-status">
                                            Hoạt Động
                                        </div>
                                        <div *ngIf="dataItem.status != 1" class="inactive-status">
                                            Tạm Ẩn
                                        </div>
                                    </div>
                                </td>
                            </ng-container> -->

                            <!-- Actions Column -->
                            <ng-container matColumnDef="moreActions" stickyEnd>
                                <th mat-header-cell *matHeaderCellDef></th>
                                <td mat-cell *matCellDef="let element" (click)="$event.stopPropagation()"
                                    [ngStyle]="lastChildBorderStyles()">
                                    <!-- <button mat-icon-button (click)="$event.stopPropagation();getRowSelected(element)"
                                        matTooltip="Sửa">
                                        <mat-icon class="material-icons" svgIcon="ic_create_48px"></mat-icon>
                                    </button>
                                    <button mat-icon-button (click)="$event.stopPropagation();onDelete(element)"
                                        matTooltip="Xóa">
                                        <mat-icon class="material-icons" svgIcon="ic_delete_48px"></mat-icon>
                                    </button> -->
                                    <button mat-icon-button [matMenuTriggerFor]="actionsMenu"
                                        matTooltip="Thao Tác Khác">
                                        <mat-icon class="material-icons" svgIcon="ic_more_vert_48px"></mat-icon>
                                    </button>
                                    <mat-menu #actionsMenu="matMenu" [overlapTrigger]="overlapTrigger">
                                        <button mat-menu-item [disabled]="dataProcessing"
                                            (click)="getRowSelected(element,'edit')">
                                            <mat-icon class="material-icons" svgIcon="ic_create_48px"></mat-icon>
                                            <span>Sửa</span>
                                        </button>
                                        <button mat-menu-item [disabled]="dataProcessing" class="approve-button"
                                            (click)="getRowSelected(element,'thuyen_chuyen')">
                                            <mat-icon class="approve-button" svgIcon="ic_shortcut_48dp"></mat-icon>
                                            <span>Thuyên Chuyển</span>
                                        </button>
                                        <button mat-menu-item [disabled]="dataProcessing" class="reject-button"
                                            (click)="getRowSelected(element,'ket_thuc')">
                                            <mat-icon class="reject-button" svgIcon="ic_stop_48dp"></mat-icon>
                                            <span>Kết Thúc Sức Vụ</span>
                                        </button>
                                        <button mat-menu-item [disabled]="dataProcessing" (click)="onDelete(element)">
                                            <mat-icon class="material-icons" svgIcon="ic_delete_48px"></mat-icon>
                                            <span>Xoá</span>
                                        </button>
                                        <!-- <button mat-menu-item *ngIf="element.status !== 'inactive'"
                                            [disabled]="dataProcessing" (click)="onUpdateStatus(element,'inactive')">
                                            <mat-icon class="material-icons" svgIcon="ic_toggle_off"></mat-icon>
                                            <span>Tạm Ẩn</span>
                                        </button>

                                        <button mat-menu-item *ngIf="element.status == 'inactive'"
                                            [disabled]="dataProcessing" (click)="onUpdateStatus(element,'active')">
                                            <mat-icon class="material-icons" svgIcon="ic_toggle_on"></mat-icon>
                                            <span>Mở Lại</span>
                                        </button> -->

                                    </mat-menu>
                                </td>
                            </ng-container>

                            <!-- Expanded Detail -->
                            <ng-container matColumnDef="expandedDetail">
                                <td mat-cell *matCellDef="let element" [attr.colspan]="displayColumns.length">
                                    <div [@detailExpand]="element?._expand_detail ? 'expanded' : 'collapsed'">
                                        <div *ngIf="element?._expand_detail" fxLayout="row" fxLayoutAlign="center center" style="padding: 24px;">
                                            <ng-container *ngIf="element?.expandData; else nonDataExpand">
                                                <div fxLayout="column">
                                                    <h6>Chuyển Từ: <strong>{{element?.expandData?.entityName}}</strong></h6>
                                                    <h6>Chức Vụ: {{element?.expandData?.positionView}}</h6>
                                                    <h6>Pục vụ từ ngày {{element?.expandData?.fromDateView}} <span *ngIf="element?.expandData?.toDateView?.length > 0"> đến ngày <strong>{{element?.expandData?.toDateView}}</strong></span></h6>
                                                    <h6>do {{element?.expandData?.appointerName}} bổ nhiệm ngày {{element?.expandData?.effectiveDateView}}</h6>
                                                </div>
                                                <mat-icon svgIcon="ic_arrow_forward" class="mrl-24 mrr-24"></mat-icon>
                                                <div fxLayout="column">
                                                    <h6>Đến: <strong>{{element?.entityName}}</strong></h6>
                                                    <h6>Chức Vụ: {{element?.positionView}}</h6>
                                                    <h6>Pục vụ từ ngày {{element?.fromDateView}} <span *ngIf="element?.toDateView?.length > 0"> đến ngày <strong>{{element?.toDateView}}</strong></span></h6>
                                                    <h6>do {{element?.appointerName}} bổ nhiệm ngày {{element?.effectiveDateView}}</h6>
                                                </div>
                                            </ng-container>
                                            <ng-template #nonDataExpand>
                                                <div fxLayout="column" fxLayoutAlign="center center">
                                                    <h6>Phục vụ tại <strong>{{element?.entityName}}</strong></h6>
                                                    <h6>với chức vụ <strong>{{element?.positionView}}</strong></h6>
                                                    <h6>từ ngày <strong>{{element?.fromDateView}}</strong> <span *ngIf="element?.toDateView?.length > 0"> đến ngày <strong>{{element?.toDateView}}</strong></span></h6>
                                                    <h6>do <strong>{{element?.appointerName}}</strong> bổ nhiệm ngày <strong>{{element?.effectiveDateView}}</strong></h6>
                                                </div>
                                            </ng-template>
                                        </div>
                                    </div>
                                </td>
                            </ng-container>

                            <tr mat-header-row *matHeaderRowDef="displayColumns"></tr>
                            <tr mat-row class="tsa-data-table-rows" *matRowDef="let row; columns: displayColumns;"
                                [class.expanded-row]="row?._expand_detail" (click)="toggleExpandElements(row)">
                            </tr>
                            <tr mat-row *matRowDef="let row; columns: ['expandedDetail']" class="expand-detail-row">
                            </tr>
                            <!-- Row shown when there is no matching data. -->
                            <tr class="mat-row tsa-data-table-rows" *matNoDataRow>
                                <td class="mat-cell" colspan="25">{{gridMessages}}</td>
                            </tr>
                        </table>
                    </div>
                </mat-sidenav-container>
                <mat-paginator #paginator [length]="gridDataChanges?.total" [pageSize]="pageSize"
                    [pageSizeOptions]="pageSizeOptions" (page)="pageChanged($event)" showFirstLastButtons>
                </mat-paginator>
            </mat-card>
        </div>
    </div>
</div>