<!-- If there are attached files -->
<mat-card [ngClass]="(!noFilesUploads && editableFiles)?'':'itine-display'"
    class="upload-files-card" [(validDrag)]="validComboDrag"
    [class.valid-drag]="validComboDrag" ngfDrop [(files)]="files" accept="*" (filesChange)="uploadFiles()">

    <div class="upload-files-card-label">
        {{title}}
    </div>

    <mat-list class="file-upload-list">
        <ng-template ngFor let-file [ngForOf]="dataSources" let-i="index">
            <mat-list-item>
                {{file.name}}
                <span fxFlex></span>
                <button mat-icon-button matTooltip="Download" [disabled]="!downloadable" (click)="dowloadFile(file)">
                    <mat-icon svgIcon="ic_save_alt_24px"></mat-icon>
                </button>
                <button [disabled]="!editableFiles || dataProcessing" mat-icon-button matTooltip="Delete"
                    (click)="removeFile(file)">
                    <mat-icon svgIcon="ic_delete_48px"></mat-icon>
                </button>
            </mat-list-item>
        </ng-template>
    </mat-list>
    <mat-divider *ngIf="dataSources.length > 0"></mat-divider>
    <div *ngIf="!uploadingFile" class="box-UploadFile" fxLayout="row" fxLayoutAlign="center center"
        style="padding-top: 16px; padding-bottom: 16px;">
        <mat-icon svgIcon="ic_cloud_upload_48px"></mat-icon>
        <h4 class="upload-files-text">Kéo file vào, hoặc
            <input id="file-upload" type="file" ngf [(files)]="files" multiple (filesChange)="uploadFiles()" /><label
                for="file-upload">chọn file</label>
        </h4>
    </div>
    <div *ngIf="uploadingFile" class="box-UploadFile icon-uploading" fxLayout="row" fxLayoutAlign="center center"
        style="padding-top: 16px; padding-bottom: 16px;">
        <mat-spinner></mat-spinner>
    </div>
</mat-card>

<mat-card [ngClass]="(noFilesUploads && editableFiles)?'':'itine-display'" fxLayoutAlign="center center"
    class=" upload-files-card upload-files-zone upload-files upload-files-text-container" [(validDrag)]="validComboDrag"
    [class.valid-drag]="validComboDrag" ngfDrop [(files)]="files" accept="*" (filesChange)="uploadFiles()">
    <div class="upload-files-card-label">
        {{title}}
    </div>
    <div *ngIf="!uploadingFile" class="box-UploadFile" fxLayout="row" fxLayoutAlign="center center"
        style="padding-top: 16px; padding-bottom: 16px;">
        <mat-icon svgIcon="ic_cloud_upload_48px"></mat-icon>
        <h4 class="upload-files-text">Kéo file vào, hoặc
            <input type="file" ngf [(files)]="files" multiple id="file-upload" (filesChange)="uploadFiles()" /><label
                for="file-upload">chọn file</label>
        </h4>
    </div>
    <div *ngIf="uploadingFile" fxLayout="row" fxLayoutAlign="center center"
        style="padding-top: 16px; padding-bottom: 16px;" class="box-UploadFile icon-uploading">
        <mat-spinner></mat-spinner>
    </div>
</mat-card>
<mat-card [ngClass]="!editableFiles?'':'itine-display'" class="upload-files-card mobile">
    <div class="upload-files-card-label">
        {{title}}
    </div>
    <div *ngIf="noFilesUploads" fxLayout="row" fxLayoutAlign="center center"
        style="padding-top: 50px; padding-bottom: 16px;" class="box-UploadFile">
        <h4 class="upload-files-text">Chưa có dữ liệu.
        </h4>
    </div>
    <mat-list *ngIf="!noFilesUploads" class="file-upload-list">
        <ng-template ngFor let-file [ngForOf]="dataSources" let-i="index">
            <mat-list-item>
                {{file.name}}
                <span fxFlex></span>
                <button mat-icon-button matTooltip="Download" [disabled]="!downloadable" (click)="dowloadFile(file)">
                    <mat-icon svgIcon="ic_save_alt_24px"></mat-icon>
                </button>
                <button [disabled]="!editableFiles || dataProcessing" mat-icon-button matTooltip="Delete"
                    (click)="removeFile(file)">
                    <mat-icon svgIcon="ic_delete_48px"></mat-icon>
                </button>
            </mat-list-item>
        </ng-template>
    </mat-list>
</mat-card>