<div class="post-info">
    <div class="sticky-toolbar">
        <mat-toolbar fxLayout="row" fxLayoutAlign="space-between center">
            <div fxLayout="row" fxLayoutAlign="center center">
                <button mat-icon-button (click)="routeToBack()">
                    <mat-icon svgIcon="ic_arrow_back_48dp"></mat-icon>
                </button>
                <span class="truncate">Trở về {{matTooltipBack}}</span>
            </div>
            <div *ngIf="statusLabel?.title !== ''">
                <span class="mat-elevation-z1" [ngClass]="statusLabel.class">{{statusLabel.title}}</span>
            </div>
            <div fxLayout="row" fxLayoutAlign="space-between center" fxLayoutGap="12px">
                <button (click)="onCancel()" mat-flat-button color="warn">Hủy</button>
                <ng-template [ngIf]="localItem?.status == 'publish'">
                    <button (click)="onSave('publish')" mat-flat-button color="primary">Lưu</button>
                </ng-template>
                <ng-template [ngIf]="localItem?.status !== 'publish'">
                    <button (click)="onSave('draft')" mat-flat-button color="primary">Lưu Nháp</button>
                    <button (click)="onSave('publish')" mat-flat-button class="accept">
                        Xuất Bản <mat-icon style="margin-bottom: 15px;" svgIcon="ic_send_48dp"></mat-icon>
                    </button>
                </ng-template>
            </div>
        </mat-toolbar>
    </div>
    <mat-divider></mat-divider>
    <div class="post-container">
        <form [formGroup]="episodeFormGroup">
            <div fxLayout="row" fxLayoutAlign="start start">
                <div fxFlex="70" class="mrr-24">
                    <mat-form-field appearance="outline" class="full-width">
                        <mat-label>Tiêu Đề</mat-label>
                        <textarea matInput rows="1" formControlName="title" required></textarea>
                        <mat-hint>Link: {{episodeFormGroup?.value?.link}}</mat-hint>
                    </mat-form-field>
                    <mat-form-field appearance="outline" class="full-width">
                        <mat-label>Media File</mat-label>
                        <input #mediaFile type="text" placeholder="Chọn file" matInput required
                        formControlName="mediaFile" autocomplete="off">
                        <button mat-icon-button matSuffix (click)="mediaFile.value='';clearValue('mediaFile')">
                            <mat-icon svgIcon="ic_close_48px"></mat-icon>
                        </button>
                        <button mat-icon-button matSuffix (click)="mediaFile.value='';onSelectMeida()">
                            <mat-icon svgIcon="ic_cloud_upload_48px"></mat-icon>
                        </button>
                    </mat-form-field>

                    <div class="full-width mrb-24" *ngIf="fileMeidaSelected?.embed?.length > 0" [innerHTML]="fileMeidaSelected?.embed | safeHtml">
                    </div>

                    <mat-form-field appearance="outline" class="full-width">
                        <mat-label>Mô Tả</mat-label>
                        <textarea matInput rows="4" formControlName="metaDescription"></textarea>
                    </mat-form-field>
                    <se-editor-control formControlName="content"></se-editor-control>
                </div>
                <div fxFlex="30" class="mrl-24">
                    <se-upload-avatar (valueChanges)="valueChangesFile($event)"
                        [filePath]="localItem?.photo"></se-upload-avatar>

                    <mat-form-field appearance="outline" class="full-width mrt-24">
                        <mat-label>Thuộc</mat-label>
                        <se-autocomplete-simple [required]="false" [formControlName]="'entityId'" 
                            [optgroup]="false" [placeHolder]="'Chọn sách...'" [keyTitle]="'title'" [keyValue]="'_id'"
                            [keyValueEmit]="'_id'" [autocomplete]="false" [optgroup]="true" [items]="arrBooks">
                        </se-autocomplete-simple>
                    </mat-form-field>

                    <se-chip-control class="full-width" formControlName="categoryIds" [loadDefaultData]="true"
                        [hasShowAvatar]="false" [placeholder]="'Danh Mục'" [placeholder_input]="'Tìm theo tên'"
                        [type]="'categories'"></se-chip-control>

                    <se-chip-control class="full-width" formControlName="tags" [loadDefaultData]="true"
                        [hasShowAvatar]="false" [placeholder]="'Tags'" [placeholder_input]="'Tìm theo tên'"
                        [type]="'tags'"></se-chip-control>
                    <se-chip-simple class="full-width" formControlName="metaKeyword" [placeholder]="'Keywords'"
                        [placeholder_input]="'Nhập Keywords'" [type]="'metaKeyword'"></se-chip-simple>
                </div>
            </div>
        </form>
    </div>
</div>