<div class="notifications-list-container">
    <h2>THÔNG BÁO</h2>
    <mat-list>
        <mat-list-item class="mg-list-item">
            <span mat-line class="list-item-title">Catholic Prayers</span>
        </mat-list-item>
        <mat-divider></mat-divider>
        <mat-list-item class="mg-list-item">
            <span mat-line class="list-item-title">The Rosary</span>
        </mat-list-item>
        <mat-divider></mat-divider>
        <mat-list-item class="mg-list-item">
            <span mat-line class="list-item-title">Lorem ipsum dolor sit amet.</span>
        </mat-list-item>
        <mat-divider></mat-divider>
        <mat-list-item class="mg-list-item">
            <span mat-line class="list-item-title">Lorem, ipsum dolor.</span>
        </mat-list-item>
        <mat-divider></mat-divider>
        <mat-list-item class="mg-list-item">
            <span mat-line class="list-item-title">Lorem ipsum dolor sit.</span>
        </mat-list-item>
        <mat-divider></mat-divider>
        <mat-list-item class="mg-list-item">
            <span mat-line class="list-item-title">TGP Sài Gòn</span>
        </mat-list-item>
        <mat-divider></mat-divider>
    </mat-list>
</div>