<div class="full-width" fxLayout="column" fxLayoutAlign="center center">
    <!-- <div class="max-width-content" fxLayout="row" fxLayoutAlign="start start">
        <se-post-new class="full-width"></se-post-new>
    </div> -->
    <div class="container-xl" fxLayout="row" fxLayoutAlign="start start">
        <div fxFlex="70">
            <se-post-content [id]="ID" [type]="type"></se-post-content>
        </div>
        <div fxFlex="30">
            <se-post-list></se-post-list>
        </div>
    </div>
</div>