se-top-header {
    .control-top-header {
        height: 50px;
        background-color: $blue;
        display: flex;
        align-items: center;
        color: $white;
    }
}

se-main-header {
    .control-main-header {
        height: 100px;
        display: flex;
        align-items: center;
        .logo,
        .logo-right {
            height: 60px;
            cursor: pointer;
        }
        .title-container {
            margin-left: 12px;
            .title {
                font-size: 24px;
                font-weight: 700;
                line-height: 1.4;
                margin: 0;
            }
            .sub-title {
                font-size: 14px;
                font-weight: 500;
                line-height: 1.4;
                margin: 0;
            }
        }
        .search-container {
            .search-icon {
                margin-right: 12px;
            }
            .mat-input-element {
                margin-right: 12px;
                height: 30px;
                font-size: 14px;
                font-weight: 400;
                line-height: 1.4;
                padding: 0 8px;
            }
        }
    }
}

se-main-menu {
    .navbar {
        .navbar-nav {
            .nav-item {
                &.nav-link,
                .nav-link {
                    cursor: pointer;
                }
                &.dropdown {
                    position: inherit;
                }
                .dropdown-menu {
                    left: 0;
                    right: 0;
                    display: block;
                    visibility: hidden;
                    padding: 12px 24px 24px;
                    &.show {
                        visibility: visible;
                    }
                    .dropdown-item {
                        cursor: pointer;
                        padding: 0 8px;
                        &:hover {
                            background-color: $green;
                        }
                    }
                    .post-menu-wrap {
                        display: block;
                    }
                    .item-post-new {
                        cursor: pointer;
                        .figure-caption {
                            font-size: 14px;
                            font-weight: 500;
                            line-height: 1.4;
                        }
                    }
                }
            }
        }
    }
}
