<h2 mat-dialog-title>{{title}}</h2>
<mat-dialog-content>
    <div class="content-dialog content-dialog--minHeight">
        <form class="form-horizontal" novalidate [formGroup]="dataItemGroup" autocomplete="off">
            <div fxLayout="column">
                <mat-form-field appearance="outline">
                    <mat-label>Tiêu đề</mat-label>
                    <input matInput required formControlName="title" autocomplete="off" se-pure-words>
                </mat-form-field>
                <mat-form-field appearance="outline" class="full-width">
                    <mat-label>Mô tả</mat-label>
                    <textarea matInput rows="3" formControlName="metaDescription" autocomplete="off"></textarea>
                </mat-form-field>
                <mat-form-field appearance="outline" class="full-width">
                    <mat-label>Ngày Bắt Đầu</mat-label>
                    <input autocomplete="off" matInput placeholder="DD/MM/YYYY" [matDatepicker]="startDate"
                        formControlName="startDate" required>
                    <mat-datepicker-toggle matSuffix [for]="startDate"></mat-datepicker-toggle>
                    <mat-datepicker #startDate></mat-datepicker>
                    <mat-error *ngIf="dataItemGroup.get('startDate').hasError('matDatepickerParse')">Enter dates in DD/MM/YYYY  format</mat-error>
                </mat-form-field>
                <mat-form-field appearance="outline" class="full-width">
                    <mat-label>Ngày Kết Thúc</mat-label>
                    <input autocomplete="off" matInput placeholder="DD/MM/YYYY" [matDatepicker]="endDate"
                        formControlName="endDate">
                    <mat-datepicker-toggle matSuffix [for]="endDate"></mat-datepicker-toggle>
                    <mat-datepicker #endDate></mat-datepicker>
                    <mat-error *ngIf="dataItemGroup.get('endDate').hasError('matDatepickerParse')">Enter dates in DD/MM/YYYY  format</mat-error>
                </mat-form-field>
                <!-- <mat-form-field appearance="outline">
                    <mat-label>Liên Kết</mat-label>
                    <input matInput required formControlName="link" autocomplete="off">
                </mat-form-field> -->
            </div>
        </form>
    </div>
    <div class="btn-dialog-actions" fxLayout="row" fxLayoutAlign="start center">
        <span fxFlex></span>
        <a mat-button (click)="closeDialog()" color="default">Hủy</a>
        <div class="btn-save-process">
            <button mat-flat-button [disabled]="dataProcessing || saveAction === 'delete' || target !== 'edit'"
                aria-label="Delete" (click)="deleteItem()" color="warn">Xóa</button>
            <mat-spinner [diameter]="24" *ngIf="saveAction === 'delete'"></mat-spinner>
        </div>
        <div class="btn-save-process">
            <button mat-flat-button color="primary"
                [disabled]="!hasChangedGroup || !dataItemGroup.valid || dataProcessing || saveAction === 'save'"
                aria-label="Save" (click)="onSaveItem()">{{textSave}}</button>
            <mat-spinner [diameter]="24" *ngIf="saveAction === 'save'"></mat-spinner>
        </div>
    </div>
</mat-dialog-content>