<div class="se-apps-users">
    <div class="wrapper">
        <!-- Table Container -->
        <div class="se-grid-tables">
            <mat-card class="table-card">
                <mat-toolbar *ngIf="!selection?.hasValue()" class="search-toolbar" fxLayout="row"
                    fxLayoutAlign="start center">
                    <div fxFlex="75">
                        <div fxLayout="row" fxLayoutAlign="start center">
                            <mat-icon class="ic_search material-icons" svgIcon="ic_search_48px"></mat-icon>
                            <input (click)="onSearchMode()" placeholder="Tìm kiếm theo tên thánh hoặc tên"
                                autocomplete="off" [formControl]="searchControl">
                        </div>
                    </div>
                    <div fxFlex="25">
                        <span fxFlex></span>
                        <button mat-icon-button *ngIf="searchMode && searchControl.value !== ''" (click)="clearSearch()"
                            aria-label="Close" matTooltip="Xoá" class="mat-icon-button-search-close">
                            <mat-icon class="material-icons" svgIcon="ic_close_48px"></mat-icon>
                        </button>
                        <button mat-icon-button matTooltip="Thêm Người Dùng" aria-label="Thêm Người Dùng"
                            [disabled]="dataProcessing" (click)="addUser()">
                            <mat-icon class="material-icons" svgIcon="ic_create_48px"></mat-icon>
                        </button>
                        <button mat-icon-button matTooltip="Lọc" (click)="filter.toggle()" aria-label="Lọc">
                            <mat-icon class="material-icons" svgIcon="ic_filter_list_48px"></mat-icon>
                        </button>
                    </div>
                </mat-toolbar>

                <mat-toolbar *ngIf="selection?.selected?.length > 0" class="search-toolbar">
                    <h5 class="search-selected-text">{{itemSelectedTemplate}}</h5>
                    <span fxFlex></span>
                    <button mat-icon-button[disabled]="dataProcessing"
                        (click)="changePassword(selection?.selected[0])" *ngIf="selection?.selected?.length == 1"
                        matTooltip="Chỉnh Sửa Đăng Nhập">
                        <mat-icon class="material-icons" svgIcon="ic_vpn_key_24dp"></mat-icon>
                    </button>
                    <button mat-icon-button [disabled]="dataProcessing" (click)="onDeactiveUser(selection?.selected[0],1)"
                        *ngIf="selection?.selected?.length == 1 && selection?.selected[0]?.status !== 'inactive'"
                        matTooltip="Tạm Ẩn">
                        <mat-icon class="material-icons" svgIcon="ic_toggle_off"></mat-icon>
                    </button>
                    <button mat-icon-button [disabled]="dataProcessing" (click)="onDeactiveUser(selection?.selected[0],0)"
                        *ngIf="selection?.selected?.length == 1 && selection?.selected[0]?.status == 'inactive'"
                        matTooltip="Mở Lại">
                        <mat-icon class="material-icons" svgIcon="ic_toggle_on"></mat-icon>
                    </button>
                    <button mat-icon-button [disabled]="dataProcessing"
                        *ngIf="selection?.selected?.length == 1" matTooltip="Xóa Người Dùng">
                        <mat-icon class="material-icons" svgIcon="ic_delete_48px"></mat-icon>
                    </button>
                </mat-toolbar>

                <mat-sidenav-container class="grid-container">
                    <mat-sidenav #filter mode="side" position="end" class="sidenav right">
                        <div class="filter-container">
                            <div fxLayout="column">
                                <!-- Date Filter -->
                                <h4 class="filter-subheadings">Last Session </h4>
                                <mat-divider style="position: absolute; bottom: 0; left: 0;"></mat-divider>
                            </div>
                        </div>
                    </mat-sidenav>
                    <div class="table-container">
                        <table class="full-width" mat-table [dataSource]="dataSources" matSort (matSortChange)="onSortChange($event)">

                            <!-- Checkbox Column -->
                            <ng-container matColumnDef="id" sticky>
                                <th mat-header-cell *matHeaderCellDef [ngStyle]="firstChildBorderStyles()">
                                    <mat-checkbox (change)="checkAllItems($event)" [disabled]="isAllDisabled()"
                                        [checked]="selection.hasValue() && isAllSelected()" aria-label="Bulk Select"
                                        matTooltip="Bulk Select"
                                        [indeterminate]="selection.hasValue() && !isAllSelected()">
                                    </mat-checkbox>
                                </th>
                                <td mat-cell *matCellDef="let row" [ngStyle]="firstChildBorderStyles()">
                                    <mat-checkbox (click)="$event.stopPropagation()" [disabled]="row.disabledItem"
                                        matTooltip="User Select" (change)="checkSingleItem($event,row)"
                                        aria-label="User Select" [checked]="selection.isSelected(row)">
                                    </mat-checkbox>
                                </td>
                            </ng-container>

                            <!-- Photo/Avatar Column -->
                            <ng-container matColumnDef="photo">
                                <th mat-header-cell *matHeaderCellDef > Photo </th>
                                <td mat-cell *matCellDef="let element">
                                    <div style="height: 100%;" fxLayoutAlign="center center">
                                        <div class="photo-container">
                                            <ng-container
                                                *ngIf="(element.hasAvatar && element?.pictureUrl); else defaultAvatar">
                                                <img [src]="element?.pictureUrl" mat-card-avatar alt="photo"
                                                    matTooltip="User Select" class="se-avatar" />
                                            </ng-container>
                                            <ng-template #defaultAvatar>
                                                <span class="avatar-name avatar-name--36">{{element.fullName |
                                                    initialsName}}</span>
                                            </ng-template>
                                        </div>
                                    </div>
                                </td>
                            </ng-container>

                            <ng-container matColumnDef="fullName">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header > Họ và Tên </th>
                                <td mat-cell *matCellDef="let dataItem">
                                    {{dataItem.fullName}}
                                </td>
                            </ng-container>

                            <ng-container matColumnDef="username">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header > Tên Đăng Nhập </th>
                                <td mat-cell *matCellDef="let dataItem">
                                    {{dataItem.username}}
                                </td>
                            </ng-container>

                            <ng-container matColumnDef="priority">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header > Quyền </th>
                                <td mat-cell *matCellDef="let dataItem">
                                    {{dataItem.priority}}
                                </td>
                            </ng-container>

                            <!-- Status Column -->
                            <ng-container matColumnDef="status">
                                <th mat-header-cell *matHeaderCellDef > Trạng Thái </th>
                                <td mat-cell *matCellDef="let dataItem">
                                    <div style="height: 100%;" fxLayoutAlign="center center">
                                        <div *ngIf="dataItem.status == 1" class="active-status">
                                            Hoạt Động
                                        </div>
                                        <div *ngIf="dataItem.status != 1" class="inactive-status">
                                            Tạm Ẩn
                                        </div>
                                    </div>
                                </td>
                            </ng-container>

                            <!-- Actions Column -->
                            <ng-container matColumnDef="actions" stickyEnd>
                                <th mat-header-cell *matHeaderCellDef>
                                    <mat-menu [overlapTrigger]="true" #showHideColumn="matMenu"
                                        class="se-pob-menu-columns">
                                        <div class="mat-menu-item ofVisible">
                                            <mat-checkbox class="mat-primary" color="primary"
                                                aria-label="Chọn tất cả cột" [(ngModel)]="menuViewAllColumns"
                                                (ngModelChange)="onMenuColumnsChanged()"
                                                [(indeterminate)]="indeterminateViewAllColumns"
                                                (click)="$event.stopPropagation()">
                                                All {{ menuViewColumns.length }} selected
                                            </mat-checkbox>
                                        </div>
                                        <mat-divider></mat-divider>
                                        <div class="mxh-206">
                                            <div *ngFor="let column of menuViewColumns; trackBy: trackByFn"
                                                class="mat-menu-item ofVisible">
                                                <mat-checkbox class="mat-primary" [(ngModel)]="column.curChecked"
                                                    [attr.aria-label]="column.title" (ngModelChange)="onColumnChanged()"
                                                    [checked]="column.curChecked" color="primary"
                                                    [value]="column.column" (click)="$event.stopPropagation()">
                                                    {{ column.title }}
                                                </mat-checkbox>
                                            </div>
                                        </div>
                                        <mat-divider></mat-divider>
                                        <div class="mat-menu-item ofVisible" style="padding: 6px;">
                                            <button mat-button color="default" (click)="undoChangedColumns()"
                                                aria-label="Hủy">
                                                Hủy
                                            </button>
                                            <span fxFlex></span>
                                            <div class="btn-save-process">
                                                <button mat-flat-button color="primary" aria-label="Chọn"
                                                    [disabled]="(!indeterminateViewAllColumns && !menuViewAllColumns) || dataProcessing"
                                                    (click)="applyToggleColumns()">
                                                    Chọn
                                                </button>
                                                <mat-spinner [diameter]="24" *ngIf="dataProcessing"></mat-spinner>
                                            </div>
                                        </div>
                                    </mat-menu>
                                    <button mat-icon-button [matMenuTriggerFor]="showHideColumn"
                                        aria-label="Ẩn/Hiện cột" matTooltip="Ẩn/Hiện cột" matTooltipPosition="before">
                                        <mat-icon svgIcon="ic_view_column_48px"></mat-icon>
                                    </button>
                                </th>
                                <td mat-cell *matCellDef="let element" (click)="$event.stopPropagation()"
                                    [ngStyle]="lastChildBorderStyles()">
                                    <button mat-icon-button [matMenuTriggerFor]="actionsMenu"
                                        matTooltip="Thao Tác Khác">
                                        <mat-icon class="material-icons" svgIcon="ic_more_vert_48px"></mat-icon>
                                    </button>
                                    <mat-menu #actionsMenu="matMenu" [overlapTrigger]="overlapTrigger">
                                        <button mat-menu-item [disabled]="dataProcessing"
                                            (click)="changePassword(element)">
                                            <mat-icon class="material-icons" svgIcon="ic_vpn_key_24dp"></mat-icon>
                                            <span> Chỉnh Sửa Đăng Nhập </span>
                                        </button>

                                        <button mat-menu-item *ngIf="element.status !== 'inactive'" [disabled]="dataProcessing"
                                            (click)="onDeactiveUser(element,1)">
                                            <mat-icon class="material-icons" svgIcon="ic_toggle_off"></mat-icon>
                                            <span>Tạm Ẩn</span>
                                        </button>

                                        <button mat-menu-item *ngIf="element.status == 'inactive'" [disabled]="dataProcessing"
                                            (click)="onDeactiveUser(element,0)">
                                            <mat-icon class="material-icons" svgIcon="ic_toggle_on"></mat-icon>
                                            <span>Mở Lại</span>
                                        </button>

                                        <button mat-menu-item [disabled]="dataProcessing">
                                            <mat-icon class="material-icons" svgIcon="ic_delete_48px"></mat-icon>
                                            <span>Xóa Người Dùng</span>
                                        </button>

                                    </mat-menu>
                                </td>
                            </ng-container>
                            <tr mat-header-row *matHeaderRowDef="displayColumns"></tr>
                            <tr mat-row class="tsa-data-table-rows" *matRowDef="let row; columns: displayColumns;"
                                (click)="getRowSelected(row)">
                            </tr>
                            <!-- Row shown when there is no matching data. -->
                            <tr class="mat-row tsa-data-table-rows" *matNoDataRow>
                                <td class="mat-cell" colspan="25">{{gridMessages}}</td>
                            </tr>
                        </table>
                    </div>
                </mat-sidenav-container>
                <mat-paginator #paginator [length]="gridDataChanges?.total" [pageSize]="pageSize"
                    [pageSizeOptions]="pageSizeOptions" (page)="pageChanged($event)" showFirstLastButtons>
                </mat-paginator>
            </mat-card>
        </div>
    </div>
</div>