<app-main-banner></app-main-banner>
<se-post-new></se-post-new>
<app-search-clergys [title]="'Linh Mục Giáo Phận'"></app-search-clergys>
<section class="group-container">
    <div class="container-xl">
        <div class="row">
            <div class="col-8">
                <app-favorite-posts></app-favorite-posts>
            </div>
            <div class="col-4">
                <app-notifications-list></app-notifications-list>
            </div>
        </div>
    </div>
</section>
<app-guest-review></app-guest-review>
<app-posts-banner></app-posts-banner>
<app-categories></app-categories>
<section class="group-container">
    <div class="container-xl">
        <div class="row">
            <div class="col-8">
                <app-favorite-posts></app-favorite-posts>
            </div>
            <div class="col-4">
                <app-notifications-list></app-notifications-list>
            </div>
        </div>
    </div>
</section>
<app-posts-list-banner></app-posts-list-banner>
<app-guest-review></app-guest-review>
<app-search-organizations [type]="'list'" [title]="'Giáo Phận'"></app-search-organizations>