<mat-nav-list>
    <!-- Home -->
    <!-- <mat-list-item *ngIf="basePermissions?.settings?.mychurch?.view" [routerLink]="['/settings/info-my-church']" [routerLinkActive]="['active']"
        [routerLinkActiveOptions]="{exact: true}" class="active">
       Thông Tin Giáo Xứ
    </mat-list-item> -->
    <mat-list-item *ngIf="basePermissions?.settings?.users?.view" [routerLink]="['/users/user-list']" [routerLinkActive]="['active']"
        [routerLinkActiveOptions]="{exact: true}">
        Danh Sách Người Dùng
    </mat-list-item>
</mat-nav-list>